@charset "UTF-8";
@media screen and (max-width: 769px) {
  .navigation.is-active {
    left: 0;
  }
  .navigation .drawer-menu-item {
    padding: 0 !important;
    font-size: 1.4rem !important;
  }
  .navigation .drawer-menu-item:hover {
    text-decoration: none;
    color: #111;
  }
  .navigation .drawer-dropdown.open .itemBox__title .arrow:after {
    transform: rotate(-45deg);
  }
  .navigation .drawer-dropdown.open .typeBox__title .arrow:after {
    transform: rotate(-45deg);
  }
  .navigation .drawer-dropdown-menu-item {
    line-height: 1.4rem;
    padding: 19px 28px 19px 30px;
  }
  .navigation .logo {
    display: block;
    background: #111;
  }
  .navigation .logo_imgSize {
    display: block;
    margin: auto;
    padding: 11px 0;
    width: 38px;
    height: 80px;
  }
  .navigation #wrapper {
    width: calc((280/375)*100vmin);
    height: 100%;
    padding-bottom: calc((96/375)*100vmin);
  }
  .navigation .itemBox__title {
    position: relative;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
  .navigation .itemBox__title .jp {
    font-weight: normal;
    color: #777;
  }
  .navigation .itemBox__title .arrow {
    right: 30px;
  }
  .navigation .itemBox__title .arrow:after {
    width: 8px;
    height: 8px;
    border-top: 2px solid #111;
    border-right: 2px solid #111;
    transform: rotate(135deg);
  }
  .navigation .itemBox__list li {
    border-bottom: 1px solid #ccc;
    position: relative;
    box-sizing: border-box;
  }
  .navigation .itemBox__list li .arrow {
    right: 32px;
  }
  .navigation .itemBox__list li .arrow:after {
    width: 8px;
    height: 8px;
    border-top: 2px solid #111;
    border-right: 2px solid #111;
    transform: rotate(45deg);
  }
  .navigation .typeBox__title {
    position: relative;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
  .navigation .typeBox__title .jp {
    font-weight: normal;
    color: #777;
  }
  .navigation .typeBox__title .arrow {
    right: 30px;
  }
  .navigation .typeBox__title .arrow:after {
    width: 8px;
    height: 8px;
    border-top: 2px solid #111;
    border-right: 2px solid #111;
    transform: rotate(135deg);
  }
  .navigation .typeBox__list li {
    border-bottom: 1px solid #ccc;
    position: relative;
    box-sizing: border-box;
  }
  .navigation .typeBox__list li .arrow {
    right: 32px;
  }
  .navigation .typeBox__list li .arrow:after {
    width: 8px;
    height: 8px;
    border-top: 2px solid #111;
    border-right: 2px solid #111;
    transform: rotate(45deg);
  }
  .navigation .guideBox__title {
    position: relative;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .navigation .guideBox__title a {
    padding: 20px 0;
    display: block;
  }
  .navigation .guideBox__title .jp {
    font-weight: normal;
    color: #777;
  }
  .navigation .guideBox__title .arrow {
    right: 31px;
  }
  .navigation .guideBox__title .arrow:after {
    width: 8px;
    height: 8px;
    border-top: 2px solid #111;
    border-right: 2px solid #111;
    transform: rotate(45deg);
  }
  .navigation .explainBox {
    padding: calc((56/667)*100vmax) calc((30/375)*100vmin) 0px;
    margin-bottom: calc((28/667)*100vmax);
  }
  .navigation .explainBox__btn {
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
  }
  .navigation .explainBox__btn:nth-child(1) {
    margin-bottom: calc((16/667)*100vmax);
  }
  .navigation .explainBox__btn_font {
    font-size: 1.3rem;
    position: relative;
  }
  .navigation .explainBox__btn_font.size {
    display: block;
    padding: calc((13/667)*100vmax) 0 calc((13/667)*100vmax) calc((77/375)*100vmin);
  }
  .navigation .explainBox__btn_font.size:before {
    position: absolute;
    content: "";
    left: calc((52/375)*100vmin);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background: url(../img/icon_question.svg) no-repeat center/100% 100%;
  }
  .navigation .explainBox__btn_font.pattern {
    display: block;
    padding: calc((13/667)*100vmax) 0 calc((13/667)*100vmax) calc((81/375)*100vmin);
  }
  .navigation .explainBox__btn_font.pattern:before {
    position: absolute;
    content: "";
    left: calc((60/375)*100vmin);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 14px;
    background: url(../img/icon_scissors.svg) no-repeat center/100% 100%;
  }
  .navigation .explainBox__btn .arrow {
    right: 31px;
  }
  .navigation .explainBox__btn .arrow:after {
    width: 7px;
    height: 7px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
  }
  .navigation .snsiconBox {
    display: flex;
    flex-flow: wrap;
    width: calc((124/375)*100vmin);
    margin: 0 auto;
    justify-content: space-between;
  }
  .navigation .snsiconBox li {
    width: calc((30/375)*100vmin);
    height: calc((30/375)*100vmin);
  }
  .navigation .snsiconBox a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 770px) {
  .navigation__list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    padding: 0 32px 0 0;
    border-right: 1px solid #111;
  }
  .navigation__list:after {
    position: absolute;
    content: "";
    top: 0;
    right: 5px;
    border: none;
    background: linear-gradient(to bottom, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-y;
    background-size: 1px 6px;
    background-position: right 4px;
    background-position: right 0px;
    background-size: 1px 6px;
    width: 1px;
    height: 23px;
  }
  .navigation__item {
    position: relative;
    text-align: center;
  }
  .navigation__item_fontSize {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .navigation__item.guide {
    width: 10rem;
  }
  .navigation__item.faq {
    width: 9rem;
    margin-right: 1rem;
  }
  .navigation__item.contact {
    width: 9rem;
  }
  .navigation .rollover {
    display: block;
    position: relative;
    /* .enと.jaの絶対配置の基準 */
    height: 23px;
  }
  .navigation .rollover .en, .navigation .rollover .ja {
    display: block;
    /* position指定がある時は無くても可 */
    width: 100%;
    position: absolute;
    /* .enと.jaを重ねて表示 */
    left: 0;
    right: 0;
    margin: auto;
    line-height: 2.3rem;
  }
  .navigation .rollover .en {
    opacity: 1;
    /* 普段は英語表記を表示 */
  }
  .navigation .rollover .ja {
    opacity: 0;
    /* 普段は日本語表記を透明に */
    top: 1px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .navigation .rollover:hover .en {
    opacity: 0;
    animation: 2s cubic-bezier(0.46, 1.21, 0.76, 0.88);
    animation-name: fade-out;
  }
  .navigation .rollover:hover .ja {
    font-size: 1.3rem;
    font-weight: normal;
    color: #777;
    display: inline-block;
    opacity: 1;
    line-height: 2.3rem;
    height: 23px;
    animation: 2s cubic-bezier(0.46, 1.21, 0.76, 0.88);
    animation-name: fade-in;
  }
  .navigation .rollover .logo {
    display: block;
  }
  @keyframes fade-in {
    0% {
      display: none;
      opacity: 0;
    }
    10% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }
  @-moz-keyframes fade-in {
    0% {
      display: block;
      opacity: 0;
    }
    10% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }
  @-webkit-keyframes fade-in {
    0% {
      display: block;
      opacity: 0;
    }
    10% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      display: block;
      opacity: 1;
    }
    30% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 0;
    }
  }
  @-moz-keyframes fade-out {
    0% {
      display: block;
      opacity: 1;
    }
    30% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 0;
    }
  }
  @-webkit-keyframes fade-out {
    0% {
      display: block;
      opacity: 1;
    }
    30% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 0;
    }
  }
}
