@media screen and (max-width: 769px) {
  .container, .pickBox {
    width: calc((345/375)*100vmin);
    margin: auto;
  }
  .pickBox {
    margin-bottom: calc((26.5/667)*100vmax);
  }
  .pickBox__title {
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: calc((20/667)*100vmax);
    position: relative;
  }
  .pickBox__title_jp {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0 auto calc((12/375)*100vmin);
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 3.0rem;
  }
  .pickBox__list {
    display: flex;
    flex-flow: row;
    margin: 0 calc((-15/375)*100vmin) 0 calc((-120/375)*100vmin);
    padding: 0 calc((15/375)*100vmin) 0 calc((120/375)*100vmin);
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
  .pickBox__item {
    margin-right: calc((11/375)*100vmin);
    position: relative;
    width: calc((140/375)*100vmin);
  }
  .pickBox__item:last-child {
    padding-right: calc((15/375)*100vmin);
  }
  .pickBox__item.new .pickBox__img {
    position: relative;
  }
  .pickBox__item.new .pickBox__img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: calc((47/375)*100vmin);
    height: calc((47/375)*100vmin);
    background: url(../img/new_small.svg) no-repeat center/100% 100%;
  }
  .pickBox__item.kids .pickBox__img {
    position: relative;
  }
  .pickBox__item.kids .pickBox__img:after {
    position: absolute;
    content: "Kids";
    bottom: 8px;
    right: 8px;
    width: calc((40/375)*100vmin);
    height: calc((18/667)*100vmax);
    background: #fff;
    line-height: calc((18/667)*100vmax);
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.06);
  }
  .pickBox__img {
    line-height: 0;
    margin-bottom: calc((13/375)*100vmin);
  }
  .pickBox__img_size {
    width: calc((140/375)*100vmin);
    height: calc((140/375)*100vmin);
  }
  .pickBox__itemName_font {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .pickBox__itemSize_font {
    font-size: 1.1rem;
    line-height: 1.9rem;
    color: #777;
  }
  .pickBox__itemSize span {
    padding-right: calc((12/375)*100vmin);
    position: relative;
  }
  .pickBox__itemSize span:after {
    position: absolute;
    content: "/";
    width: calc((12/375)*100vmin);
    height: calc((24/667)*100vmax);
    text-align: center;
    right: 0;
  }
  .pickBox__itemSize span:last-child {
    padding-right: 0;
  }
  .pickBox__itemSize span:last-child:after {
    content: none;
  }
}

@media screen and (min-width: 770px) {
  .pickBox {
    margin: 0 auto 80px;
  }
  .pickBox__title {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .pickBox__title_jp {
    font-size: 1.1rem;
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;
  }
  .pickBox__list {
    display: flex;
    flex-flow: row;
    padding: 0 38px;
    justify-content: flex-start;
  }
  .pickBox__item {
    margin-right: 16px;
    width: 160px;
  }
  .pickBox__item:hover {
    opacity: .7;
    transition-property: all;
    transition: 0.25s linear;
  }
  .pickBox__item:last-child {
    margin-right: 0;
  }
  .pickBox__item.new .pickBox__img {
    position: relative;
  }
  .pickBox__item.new .pickBox__img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: url(../img/new_small.svg) no-repeat center/100% 100%;
  }
  .pickBox__item.kids .pickBox__img {
    position: relative;
  }
  .pickBox__item.kids .pickBox__img:after {
    position: absolute;
    content: "Kids";
    bottom: 6px;
    right: 6px;
    width: 40px;
    height: 18px;
    line-height: 18px;
    background: #fff;
    font-size: 1.1rem;
    text-align: center;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.06);
  }
  .pickBox a {
    outline: none !important;
  }
  .pickBox__img {
    line-height: 0;
    margin-bottom: 17px;
  }
  .pickBox__img_size {
    width: 160px;
    height: 160px;
  }
  .pickBox__itemName_font {
    font-size: 1.2rem;
    line-height: 2.0rem;
  }
  .pickBox__itemSize_font {
    font-size: 1.1rem;
    line-height: 2.4rem;
    color: #777;
  }
  .pickBox__itemSize span {
    padding-right: 12px;
    position: relative;
  }
  .pickBox__itemSize span:after {
    position: absolute;
    content: "/";
    width: 12px;
    height: 24px;
    text-align: center;
    right: 0;
  }
  .pickBox__itemSize span:last-child {
    padding-right: 0;
  }
  .pickBox__itemSize span:last-child:after {
    content: none;
  }
}