@media screen and (min-width: 770px) {
  .sidebarBox {
    width: 224px;
    margin: 0 0 137px;
  }
  .sidebarBox .itemBox {
    margin-bottom: 40px;
  }
  .sidebarBox .itemBox__title {
    line-height: 1;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .sidebarBox .itemBox__list {
    margin-left: 32px;
  }
  .sidebarBox .itemBox__list li {
    margin-bottom: 8px;
  }
  .sidebarBox .itemBox__list li:last-child {
    margin-bottom: 0;
  }
  .sidebarBox .typeBox {
    margin-bottom: 64px;
  }
  .sidebarBox .typeBox__title {
    line-height: 1;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .sidebarBox .typeBox__list {
    margin-left: 32px;
  }
  .sidebarBox .typeBox__list li {
    margin-bottom: 8px;
  }
  .sidebarBox .typeBox__list li:last-child {
    margin-bottom: 0;
  }
  .sidebarBox .explainBox {
    margin-bottom: 40px;
  }
  .sidebarBox .explainBox__btn {
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 40px;
  }
  .sidebarBox .explainBox__btn:nth-child(1) {
    margin-bottom: 8px;
  }
  .sidebarBox .explainBox__btn_font {
    font-size: 1.3rem;
    line-height: 3.8rem;
    position: relative;
    display: block;
  }
  .sidebarBox .explainBox__btn_font.size {
    padding-left: 24px;
  }
  .sidebarBox .explainBox__btn_font.size:before {
    position: absolute;
    content: "";
    left: 54px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background: url(../img/icon_question.svg) no-repeat center/100% 100%;
  }
  .sidebarBox .explainBox__btn_font.pattern {
    padding-left: 20px;
  }
  .sidebarBox .explainBox__btn_font.pattern:before {
    position: absolute;
    content: "";
    left: 54px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 14px;
    background: url(../img/icon_scissors.svg) no-repeat center/100% 100%;
  }
  .sidebarBox .explainBox .bannerBox__item {
    margin-bottom: 32px;
  }
  .sidebarBox .explainBox .bannerBox__item:last-child {
    margin-bottom: 0;
  }
  .sidebarBox .explainBox .bannerBox__item_size {
    width: 224px;
  }
}
