@charset "UTF-8";
@media screen and (max-width: 769px) {
  #item header {
    margin-bottom: calc((5/667)*100vmax);
  }
  #item main {
    overflow: hidden;
  }
  #item .logo.underLayer {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }
  .logo.underLayer .logo_imgSize {
    width: 45px;
    height: 57px;
  }
  .container, .itemViewBox, .itemThumbBox, .itemNameBox, .storeBox, .copyBox, .sizeBox, .shareBox, .article {
    width: calc((345 / 375)*100vmin);
    margin: auto;
  }
  .itemViewBox {
    overflow: hidden;
    position: relative;
  }
  .itemViewBox__remodal {
    width: 100%;
    padding: 0 !important;
    background: none !important;
  }
  .itemViewBox__remodal_size {
    width: 100%;
  }
  .itemViewBox__slide {
    margin-bottom: calc((16 / 667)*100vmax);
    height: calc((404 / 667)*100vmax);
  }
  .itemViewBox__slide .slick-list {
    height: 100%;
  }
  .itemViewBox figure {
    position: relative;
    min-height: calc((345 / 667)*100vmax);
    display: flex;
    flex-flow: column;
  }
  .itemViewBox__img {
    position: relative;
  }
  .itemViewBox__img_size {
    max-height: calc((345 / 375)*100vmin);
    max-width: calc((345 / 375)*100vmin) !important;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .itemViewBox figcaption {
    position: absolute;
    bottom: calc((-58 / 667)*100vmax);
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    height: calc((42 / 667)*100vmax);
  }
  .itemViewBox__caption {
    font-size: 1.4rem;
    text-align: center;
  }
  .itemThumbBox {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: calc((32/667)*100vmax);
  }
  .itemThumbBox .slick-list {
    transform: translate3d(0, 0, 0) !important;
  }
  .itemThumbBox .slick-list .slick-track {
    opacity: 1;
    width: calc((375 / 375)*100vmin) !important;
    transform: translate3d(0px, 0px, 0px) !important;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
  }
  .itemThumbBox .slick-list .slick-current {
    position: relative;
  }
  .itemThumbBox .slick-list .slick-current:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: 2px solid #111;
    width: calc((51 / 375)*100vmin);
    height: calc((51 / 375)*100vmin);
  }
  .itemThumbBox__img {
    width: calc((55 / 375)*100vmin) !important;
    height: calc((55 / 375)*100vmin) !important;
    margin: 0 calc((3 / 375)*100vmin) calc((3 / 667)*100vmax) 0;
  }
  .itemThumbBox__img:first-child .iPhone {
    margin-left: -1px !important;
  }
  .itemThumbBox__img_size {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .itemThumbBox__img:nth-child(6n) {
    margin-right: 0;
  }
  .itemNameBox__title {
    font-size: 2.0rem;
    line-height: 3.0rem;
    margin-bottom: calc((31.5/667)*100vmax);
  }
  .itemNameBox__type {
    display: block;
    margin-bottom: calc((12/667)*100vmax);
  }
  .itemNameBox__type_font a {
    font-size: 1.6rem;
    color: #aaa;
  }
  .itemNameBox__price {
    display: block;
    margin-top: calc((28/667)*100vmax);
  }
  .itemNameBox__price_font {
    font-size: 2.0rem;
    font-weight: bold;
  }
  .itemNameBox__tax {
    display: inline-block;
    margin-left: calc((-10/375)*100vmin);
  }
  .itemNameBox__tax_font {
    font-size: 1.5rem;
    font-weight: normal;
  }
  .storeBox {
    padding-bottom: calc((23.5/667)*100vmax);
    margin-bottom: calc((40/667)*100vmax);
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
  }
  .storeBox__btn {
    margin-bottom: 64px;
  }
  .storeBox__list {
    margin-bottom: 40px;
  }
  .storeBox__item {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    margin: 0 0 calc((12/667)*100vmax) auto;
  }
  .storeBox__item iframe {
    width: 277px !important;
    height: 57px !important;
  }
  .storeBox__item:last-child {
    margin-bottom: 0;
  }
  .storeBox__item .storesjp-button {
    width: 278px !important;
  }
  .storeBox__item_size {
    display: inline-block;
    line-height: 50px;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
    width: 53px;
  }
  .storeBox .explainBox {
    margin-bottom: 7.46667vmin;
  }
  .storeBox .explainBox__btn {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    position: relative;
  }
  .storeBox .explainBox__btn_font {
    font-size: 1.3rem;
    line-height: 2.7rem;
    position: relative;
  }
  .storeBox .explainBox__btn_font.pattern {
    display: block;
    padding: 0 calc((27/375)*100vmin) 0 calc((25/375)*100vmin);
  }
  .storeBox .explainBox__btn_font.pattern:before {
    position: absolute;
    content: "";
    left: calc((9/375)*100vmin);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 14px;
    background: url(../img/icon_scissors.svg) no-repeat center/100% 100%;
  }
  .storeBox .explainBox__btn .arrow {
    right: 21px;
  }
  .storeBox .explainBox__btn .arrow:after {
    width: 7px;
    height: 7px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
  }
  .copyBox {
    margin-bottom: calc((52/667)*100vmax);
  }
  .copyBox__title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.5rem;
    margin-bottom: calc((21.5/667)*100vmax);
    overflow: hidden;
  }
  .copyBox__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: calc((27/667)*100vmax);
  }
  .copyBox__commentBtn {
    text-align: center;
    padding-bottom: calc((2/667)*100vmax);
  }
  .copyBox__commentBtn_deco {
    border-bottom: 1px solid #111;
  }
  .sizeBox {
    margin-bottom: calc((49/667)*100vmax);
  }
  .sizeBox .explainBox {
    margin-bottom: 7.46667vmin;
  }
  .sizeBox .explainBox__btn {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
  }
  .sizeBox .explainBox__btn_font {
    font-size: 1.3rem;
    line-height: 2.7rem;
    position: relative;
  }
  .sizeBox .explainBox__btn_font.size {
    display: block;
    padding: 0 calc((24/375)*100vmin) 0 calc((33/375)*100vmin);
  }
  .sizeBox .explainBox__btn_font.size:before {
    position: absolute;
    content: "";
    left: calc((11/375)*100vmin);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 14px;
    background: url(../img/icon_question.svg) no-repeat center/100% 100%;
  }
  .sizeBox .explainBox__btn .arrow {
    right: 21px;
  }
  .sizeBox .explainBox__btn .arrow:after {
    width: 6px;
    height: 6px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
  }
  .sizeBox__img {
    width: 100%;
  }
  .sizeBox__img a {
    display: block;
  }
  .sizeBox__img_size {
    display: inline-block;
    width: 100%;
    margin-bottom: calc((12/667)*100vmax);
  }
  .sizeBox__zoom {
    display: block;
    text-align: right;
    font-size: 1.3rem;
  }
  .sizeBox__zoom_btn {
    line-height: 1;
    display: inline-block;
    padding-bottom: calc((2/667)*100vmax);
    border-bottom: 1px solid #111;
  }
  .shareBox {
    margin-bottom: calc((52/667)*100vmax);
    width: calc((208/375)*100vmin);
    padding: calc((20/667)*100vmax);
    position: relative;
  }
  .shareBox:before {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: 100%;
  }
  .shareBox:after {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: 100%;
  }
  .shareBox__desc {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: calc((12/667)*100vmax);
  }
  .shareBox .snsiconBox {
    display: flex;
    flex-flow: wrap;
    width: calc((118.5/375)*100vmin);
    margin: 0 auto;
    justify-content: space-between;
  }
  .shareBox .snsiconBox li {
    width: calc((26/375)*100vmin);
    height: calc((26/375)*100vmin);
  }
  .shareBox .snsiconBox a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .article {
    padding-top: calc((40/667)*100vmax);
    border-top: 1px solid #ccc;
  }
  .article .wrapper {
    width: calc((315/375)*100vmin);
    margin: auto;
  }
  .article h3 {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 3.3rem;
    margin-bottom: calc((40/667)*100vmax);
  }
  .article p {
    font-size: 1.6rem;
    line-height: 2.9rem;
    margin-bottom: calc((44/667)*100vmax);
  }
  .article p img {
    width: auto;
    max-width: 100%;
    max-height: 315px;
  }
  .article h4 {
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 3.0rem;
    padding-left: calc((10/375)*100vmin);
    border-left: 5px solid #333;
    margin-bottom: calc((32/667)*100vmax);
  }
  .article blockquote + iframe {
    margin-bottom: calc((44/667)*100vmax) !important;
  }
  .article iframe + blockquote {
    margin-bottom: calc((44/667)*100vmax) !important;
  }
  .article iframe + iframe {
    margin-top: calc((44/667)*100vmax) !important;
  }
  .article blockquote {
    border: 2px solid #ccc;
    padding: 4px;
    position: relative;
    margin-bottom: 52px;
  }
  .article blockquote:before {
    position: absolute;
    content: "";
    width: calc((302.5/375)*100vmin);
    height: 1px;
    top: 4px;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  .article blockquote:after {
    position: absolute;
    content: "";
    width: calc((302.5/375)*100vmin);
    height: 1px;
    bottom: 4px;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
  }
  .article blockquote p {
    position: relative;
    padding: calc((24/667)*100vmax) calc((26/375)*100vmin);
    margin-bottom: 0 !important;
    font-size: 1.5rem;
    line-height: 2.7rem;
  }
  .article blockquote p:nth-child(1) {
    margin-top: 0 !important;
  }
  .article blockquote p:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    background: linear-gradient(to bottom, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-y;
    background-size: 1px 6px;
    background-position: left 4px;
  }
  .article blockquote p:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    bottom: 0;
    right: 0;
    border: none;
    background: linear-gradient(to bottom, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-y;
    background-size: 1px 6px;
    background-position: right 4px;
  }
  .article blockquote p + p {
    padding-top: 0;
  }
  .article iframe {
    margin-bottom: 24px;
    width: 100%;
  }
  .article .wp-caption.alignnone {
    width: calc((315/375)*100vmin) !important;
  }
  .article .wp-caption.alignnone img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
  }
  .bookBox + .commentsBox .bookBox {
    margin-bottom: calc((44/667)*100vmax);
  }
  .bookBox {
    width: calc((315/375)*100vmin);
    margin: 0 auto calc((30/667)*100vmax);
  }
  .bookBox .wrapper {
    padding: calc((49/667)*100vmax) calc((79.5/375)*100vmin) calc((56.5/667)*100vmax);
    background: url(../img/bg_border_stripe_10px.jpg) repeat;
    background-size: 5px 5px;
  }
  .bookBox__title {
    font-size: 2.7rem;
    line-height: 2.0rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: calc((12/667)*100vmax);
    padding: calc((55/667)*100vmax) 0 calc((13/667)*100vmax);
    position: relative;
  }
  .bookBox__title:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: calc((62/375)*100vmin);
    height: calc((45/667)*100vmax);
    background: url(../img/icon_book.svg) no-repeat center/100% 100%;
  }
  .bookBox__title:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: none;
    background: linear-gradient(to left, #111 0%, #111 60%, transparent 60%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 5px 1px;
    background-position: 3px bottom;
    width: calc((100/375)*100vmin);
    height: 1px;
  }
  .bookBox__desc {
    font-size: 1.4rem;
    line-height: 1.3rem;
    margin-bottom: calc((24.5/667)*100vmax);
  }
  .bookBox__img {
    width: 100%;
  }
  .bookBox__img .check {
    display: block;
    position: relative;
    line-height: 0;
  }
  .bookBox__img .check:before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 66px;
    height: 66px;
    background: url(../img/check.svg) no-repeat center/100% 100%;
  }
  .bookBox__img_size {
    width: 100%;
  }
  .listBox {
    width: calc((315/375)*100vmin);
    margin: calc((80/667)*100vmax) auto;
  }
  .listBox__btn {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border: 1px solid #333;
    text-align: center;
    position: relative;
    margin-bottom: 18px;
  }
  .listBox__btn_font {
    width: calc((83/375)*100vmin);
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
  }
  .listBox__btn_font span {
    margin: auto;
  }
  .listBox__btn-list {
    width: calc((240/375)*100vmin);
    padding: calc((28/667)*100vmax) calc((5/375)*100vmin) 0 calc((20/375)*100vmin);
    position: relative;
    display: flex;
    flex-flow: row wrap;
  }
  .listBox__btn-item {
    margin: 0 calc((21/375)*100vmin) calc((28/667)*100vmax) 0;
    position: relative;
    font-size: 15px;
  }
  .listBox__btn-item:after {
    position: absolute;
    content: "";
    background: #111;
    bottom: -1px;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: 100%;
  }
  .listBox__btn-item:hover {
    opacity: .5;
    transition: 0.3s linear;
  }
  .listBox .arrow {
    position: relative;
    vertical-align: middle;
  }
  .listBox .arrow:after {
    left: 10px;
    width: 7px;
    height: 7px;
    border-top: 1px solid #111;
    border-right: 1px solid #111;
    transform: rotate(45deg);
  }
  .commentsBox {
    padding-bottom: calc((54/667)*100vmax);
    border-bottom: 1px solid #111;
    margin-bottom: calc((32/667)*100vmax);
  }
  .commentsBox__title {
    text-align: center;
    position: relative;
    margin: calc((12/667)*100vmax);
    overflow: hidden;
  }
  .commentsBox__title:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100vmin;
    height: 1px;
    background-color: #111;
    z-index: 0;
  }
  .commentsBox__title_font {
    display: inline-block;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;
    background: #fff;
    padding: 0 calc((42/667)*100vmax) calc((11/667)*100vmax);
    z-index: 10;
    position: relative;
  }
  .commentsBox__title_font:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: calc((141/375)*100vmin);
    height: 1px;
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
  }
  .commentsBox__sub {
    text-align: center;
    margin-bottom: calc((32/667)*100vmax);
  }
  .commentsBox__desc {
    text-align: center;
    margin-bottom: calc((71/667)*100vmax);
  }
  .commentsBox .comment-form {
    width: calc((345/375)*100vmin);
    margin: auto;
  }
  .commentsBox .comment-form-author {
    margin-bottom: calc((20/667)*100vmax);
  }
  .commentsBox .comment-form-author label {
    display: block;
    font-style: italic;
    font-size: 1.4rem;
    line-height: 1.1rem;
    margin-bottom: calc((10/667)*100vmax);
  }
  .commentsBox .comment-form-author #author {
    font-size: 1.4rem;
    line-height: 2.0rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: calc((200/375)*100vmin);
    height: calc((34/667)*100vmax);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 0;
    -webkit-appearance: none;
  }
  .commentsBox .comment-form-comment {
    margin-bottom: calc((20/667)*100vmax);
  }
  .commentsBox .comment-form-comment label {
    display: block;
    font-style: italic;
    font-size: 1.4rem;
    line-height: 14px;
    margin-bottom: calc((10/667)*100vmax);
  }
  .commentsBox .comment-form-comment textarea {
    font-size: 1.4rem;
    line-height: 1.1rem;
    border: 1px solid #ccc;
    width: 100%;
    height: calc((150/667)*100vmax);
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 0;
    -webkit-appearance: none;
  }
  .commentsBox .comment-form .form-submit {
    text-align: center;
    margin: calc((20/667)*100vmax) 0 calc((52/667)*100vmax);
  }
  .commentsBox .comment-form .form-submit .submit {
    line-height: 4.8rem;
    appearance: none;
    -webkit-appearance: none;
    padding: 0;
    width: calc((247/375)*100vmin);
    border: 1px solid #111;
    font-size: 1.4rem;
    font-family: "Lato","游ゴシック", "Yu Gothic", "YuGothic" , "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
    cursor: pointer;
    background: none;
    border-radius: 0;
  }
  .commentsBox .comment-reply-title {
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin-bottom: calc((24/667)*100vmax);
  }
  .commentsBox .comment-reply-title > a {
    font-weight: bold;
    margin-right: calc((8/375)*100vmin);
  }
  .commentsBox #cancel-comment-reply-link {
    float: right;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #777;
    padding: 4px 6px;
    border: 1px solid #ccc;
  }
  .commentsBox .comment-area {
    width: calc((315/375)*100vmin);
    padding-bottom: calc((45.5/667)*100vmax);
    margin: 0 auto calc((40/667)*100vmax);
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
  }
  .commentsBox .commets-area-list {
    padding: calc((40/667)*100vmax) 0 calc((28/667)*100vmax);
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  .commentsBox .commets-area-list-meta {
    position: relative;
  }
  .commentsBox .commets-area-list-meta-author {
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: bold;
  }
  .commentsBox .commets-area-list-meta-date {
    margin-left: calc((16/375)*100vmin);
    color: #777;
    font-style: italic;
  }
  .commentsBox .commets-area-list-meta-time {
    font-size: 1.4rem;
    line-height: 2.6rem;
    margin-left: calc((15/375)*100vmin);
    color: #777;
    font-style: italic;
  }
  .commentsBox .commets-area-list-meta-edit {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3.0rem;
    font-size: 1.3rem;
    line-height: 3.0rem;
    color: #777;
    padding: 0 calc((15/375)*100vmin);
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .commentsBox .commets-area-list-text {
    padding: calc((28/667)*100vmax) 0 calc((37/667)*100vmax);
  }
  .commentsBox .commets-area-list-text p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .commentsBox .commets-area-list-text .wp-caption.alignnone {
    width: calc((315/375)*100vmin) !important;
  }
  .commentsBox .commets-area-list-text .wp-caption.alignnone img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
  }
  .commentsBox .comment-reply-link {
    font-weight: bold;
    color: #777;
    padding-left: calc((17/375)*100vmin);
    position: relative;
  }
  .commentsBox .comment-reply-link:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 8px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url("../img/icon_arrow_right.svg") no-repeat center/100% 100%;
  }
  .commentsBox .children {
    border-left: 2px solid #ccc;
    margin-bottom: 40px;
  }
  .commentsBox .children .commets-area-list {
    background: none;
    margin-left: calc((13/375)*100vmin);
  }
  .commentsBox .commetsAll {
    margin: auto;
    width: calc((247/375)*100vmin);
    border: 1px solid #111;
    cursor: pointer;
  }
  .commentsBox .commetsAll__text {
    line-height: 4.8rem;
    font-size: 1.4rem;
    text-align: center;
  }
  .commentsBox .container, .commentsBox .itemViewBox, .commentsBox .itemThumbBox, .commentsBox .itemNameBox, .commentsBox .storeBox, .commentsBox .copyBox, .commentsBox .sizeBox, .commentsBox .shareBox, .commentsBox .article {
    margin-bottom: calc((54/667)*100vmax);
  }
  #item .pickBox__title_jp {
    position: relative;
    margin: auto 0;
    line-height: 1;
  }
  #item .pickBox__title_jp:before {
    position: absolute;
    content: "";
    top: -8px;
    height: 1px;
    width: 100%;
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  #item .pickBox__list {
    margin-bottom: calc((53/667)*100vmax);
  }
  #item .pickBox .explainBox {
    display: flex !important;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: calc((52/375)*100vmin) auto calc((28/375)*100vmin);
    padding-bottom: calc((52/375)*100vmin);
    border-bottom: 1px solid #ccc;
  }
  #item .pickBox .explainBox__btn {
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    width: calc((165/375)*100vmin);
    margin-bottom: calc((40/667)*100vmax);
  }
  #item .pickBox .explainBox__btn .font {
    line-height: 4.3rem;
    font-size: 1.3rem;
    position: relative;
  }
  #item .pickBox .explainBox__btn.size {
    padding: 0 20px 0 14px;
  }
  #item .pickBox .explainBox__btn.size .font {
    padding-left: calc((25/375)*100vmin);
  }
  #item .pickBox .explainBox__btn.size .font:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background: url(../img/icon_question.svg) no-repeat center/100% 100%;
  }
  #item .pickBox .explainBox__btn.size .arrow {
    position: relative;
    vertical-align: middle;
  }
  #item .pickBox .explainBox__btn.size .arrow:after {
    width: 6px;
    height: 6px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
    top: -1px;
    left: 8px;
  }
  #item .pickBox .explainBox__btn.pattern {
    padding: 0 28px 0 23px;
  }
  #item .pickBox .explainBox__btn.pattern .font {
    padding-left: calc((21/375)*100vmin);
  }
  #item .pickBox .explainBox__btn.pattern .font:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 14px;
    background: url(../img/icon_scissors.svg) no-repeat center/100% 100%;
  }
  #item .pickBox .explainBox__btn .arrow {
    position: relative;
    vertical-align: middle;
  }
  #item .pickBox .explainBox__btn .arrow:after {
    width: 6px;
    height: 6px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
    top: -1px;
    left: 8px;
  }
  #item .pickBox .explainBox .bannerBox__item_size {
    width: 100%;
  }
}

@media screen and (min-width: 770px) {
  .logo.underLayer .logo_imgSize {
    width: 116px;
    height: 148px;
  }
  .itemViewBox {
    width: 720px;
    margin: auto;
    position: relative;
  }
  .itemViewBox__remodal {
    padding: 0 !important;
    background: none !important;
  }
  .itemViewBox .slick-list {
    margin-bottom: 16px !important;
  }
  .itemViewBox__slide {
    padding: 0 80px;
  }
  .itemViewBox__slide li {
    height: 597px;
  }
  .itemViewBox figure {
    position: relative;
    height: 560px;
    display: flex;
    flex-flow: column;
  }
  .itemViewBox__img_size {
    max-height: 560px;
    max-width: 100%;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .itemViewBox figcaption {
    position: absolute;
    bottom: -37px;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
  }
  .itemThumbBox {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 62px;
  }
  .itemThumbBox .slick-list {
    transform: translate3d(0, 0, 0) !important;
    overflow: visible;
  }
  .itemThumbBox .slick-list .slick-track {
    opacity: 1;
    width: 804px !important;
    transform: translate3d(0px, 0px, 0px) !important;
    display: flex;
    flex-flow: wrap row;
  }
  .itemThumbBox .slick-list .slick-current {
    position: relative;
  }
  .itemThumbBox .slick-list .slick-current:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: -4px;
    margin: auto;
    border: 2px solid #111;
    box-sizing: border-box;
    width: 92px;
    height: 92px;
  }
  .itemThumbBox a:hover {
    opacity: 1 !important;
  }
  .itemThumbBox__img {
    width: 84px !important;
    height: 84px !important;
    margin: 0 16px 16px 0;
  }
  .itemThumbBox__img_size {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
  }
  .itemThumbBox__img:nth-child(8n) {
    margin-right: 0;
  }
  .itemFlexBox {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 64px;
    border-bottom: 1px solid #ccc;
  }
  .itemNameBox {
    margin-bottom: 56px;
  }
  .itemNameBox__title {
    font-size: 2.2rem;
    line-height: 32px;
  }
  .itemNameBox__type {
    display: block;
    margin-bottom: 25px;
  }
  .itemNameBox__type_font a {
    font-size: 1.8rem;
    color: #aaa;
  }
  .itemNameBox__name {
    display: inline-block;
    width: 392px;
  }
  .itemNameBox__price {
    display: inline-block;
    margin-left: 82px;
  }
  .itemNameBox__price_font {
    font-size: 2.0rem;
    font-weight: bold;
  }
  .itemNameBox__tax {
    display: inline-block;
    margin-left: -15px;
  }
  .storeBox {
    width: 310px;
    order: 3;
    margin: 0 0 40px 82px;
  }
  .storeBox__list {
    margin-bottom: 40px;
  }
  .storeBox__item {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    margin: 0 0 16px auto;
  }
  .storeBox__item iframe {
    width: 242px !important;
    height: 50px !important;
  }
  .storeBox__item:last-child {
    margin-bottom: 0;
  }
  .storeBox__item .storesjp-button {
    width: 278px !important;
  }
  .storeBox__item_size {
    display: inline-block;
    font-size: 18px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    width: 52px;
  }
  .storeBox .explainBox {
    text-align: right;
  }
  .storeBox .explainBox__btn {
    display: inline-block;
    border-radius: 6px;
    position: relative;
  }
  .storeBox .explainBox__btn_font {
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
  }
  .storeBox .explainBox__btn_font.pattern {
    padding-left: 20px;
  }
  .storeBox .explainBox__btn_font.pattern:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 14px;
    background: url(../img/icon_scissors.svg) no-repeat center/100% 100%;
  }
  .copyBox {
    order: 1;
    width: 392px !important;
    padding-top: 16px;
  }
  .copyBox__title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.7rem;
    margin-bottom: 25px;
  }
  .copyBox__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 16px;
  }
  .copyBox__commentBtn {
    text-align: right;
    margin-bottom: 56px;
  }
  .copyBox__commentBtn_deco {
    padding-bottom: 2px;
    border-bottom: 1px solid #111;
  }
  .sizeBox {
    order: 2;
    width: 392px !important;
  }
  .sizeBox .explainBox {
    margin-bottom: 20px;
    margin-left: auto;
    text-align: right;
  }
  .sizeBox .explainBox__btn {
    display: inline-block;
    border-radius: 6px;
    position: relative;
  }
  .sizeBox .explainBox__btn_font {
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
  }
  .sizeBox .explainBox__btn_font.size {
    padding-left: 22px;
  }
  .sizeBox .explainBox__btn_font.size:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background: url(../img/icon_question.svg) no-repeat center/100% 100%;
  }
  .sizeBox__img {
    width: 100%;
  }
  .sizeBox__img_size {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
  .sizeBox__zoom {
    display: block;
    text-align: right;
    font-size: 1.3rem;
  }
  .sizeBox__zoom_btn {
    line-height: 1;
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 1px solid #111;
  }
  .shareBox {
    width: 310px;
    order: 4;
    padding: 28px 0;
    margin: 0 0 0 82px;
    position: relative;
  }
  .shareBox:before {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: 100%;
  }
  .shareBox:after {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: 100%;
  }
  .shareBox__desc {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 14px;
  }
  .shareBox .snsiconBox {
    display: flex;
    flex-flow: wrap;
    width: 104px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .shareBox .snsiconBox li {
    width: 24px;
    height: 24px;
  }
  .shareBox .snsiconBox li:hover {
    opacity: 0.8;
  }
  .shareBox .snsiconBox a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .article {
    margin-bottom: 24px;
  }
  .article .wrapper {
    width: 560px;
    margin: auto;
  }
  .article .wrapper h3:nth-child(1) {
    margin-top: 80px;
  }
  .article .wrapper h4:nth-child(1) {
    margin-top: 80px;
  }
  .article .wrapper p:nth-child(1) {
    margin-top: 80px;
  }
  .article .wrapper twitterwidget:nth-child(1) {
    margin-top: 80px;
  }
  .article .wrapper iframe:nth-child(1) {
    margin-top: 80px;
  }
  .article .wrapper iframe.instagram-media:nth-child(1) {
    margin-top: 80px;
  }
  .article .wrapper a {
    border-bottom: 1px solid #111;
  }
  .article h3 {
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 4.2rem;
    margin-bottom: 48px;
  }
  .article p {
    font-size: 1.6rem;
    line-height: 3.0rem;
    margin-bottom: 32px;
  }
  .article p img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 560px;
  }
  .article h4 {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 3.6rem;
    padding-left: 23px;
    border-left: 6px solid #333;
    margin-top: 80px;
    margin-bottom: 48px;
  }
  .article h3 + h4 {
    margin-top: 0;
  }
  .article blockquote {
    border: 2px solid #ccc;
    padding: 4px;
    position: relative;
    margin-bottom: 32px;
  }
  .article blockquote:before {
    position: absolute;
    content: "";
    width: 548px;
    height: 1px;
    top: 4px;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  .article blockquote:after {
    position: absolute;
    content: "";
    width: 548px;
    height: 1px;
    bottom: 4px;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
  }
  .article blockquote p {
    font-size: 1.5rem;
    line-height: 28px;
    position: relative;
    padding: 23px;
    margin-bottom: 0 !important;
  }
  .article blockquote p:nth-child(1) {
    margin-top: 0 !important;
  }
  .article blockquote p:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    background: linear-gradient(to bottom, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-y;
    background-size: 1px 6px;
    background-position: left 4px;
  }
  .article blockquote p:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    bottom: 0;
    right: 0;
    border: none;
    background: linear-gradient(to bottom, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-y;
    background-size: 1px 6px;
    background-position: right 4px;
  }
  .article blockquote p + p {
    padding-top: 0;
  }
  .article .instagram-media {
    margin-bottom: 80px !important;
  }
  .article iframe {
    margin-bottom: 56px !important;
  }
  p + .article iframe {
    margin-bottom: 24px;
  }
  .article .wp-caption.alignnone {
    width: 560px !important;
  }
  .article .wp-caption.alignnone img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
  }
  .article twitterwidget {
    margin: 0 0 56px 0 !important;
  }
  p + .article twitterwidget {
    margin-bottom: 24px;
  }
  .movieBox {
    margin: 0 auto 80px;
  }
  .movieBox .wrapper {
    width: 560px !important;
    margin: auto;
    height: 316px;
    line-height: 0;
  }
  .bookBox {
    margin: 0 auto 88px;
  }
  .bookBox .wrapper {
    width: 560px !important;
    margin: auto;
    background: url(../img/bg_border_stripe_10px.jpg) repeat;
    background-size: 5px 5px;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .bookBox__title {
    width: 50%;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin-bottom: 12px;
    padding: 148px 0 12px;
    position: relative;
  }
  .bookBox__title:before {
    position: absolute;
    content: "";
    top: 70px;
    right: 0;
    left: 0;
    margin: auto;
    width: 80px;
    height: 58px;
    background: url(../img/icon_book.svg) no-repeat center/100% 100%;
  }
  .bookBox__title:after {
    position: absolute;
    content: "";
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 99px;
    height: 1px;
  }
  .bookBox__desc {
    width: 50%;
    font-size: 1.4rem;
    text-align: center;
  }
  .bookBox__img {
    width: 168px;
    padding: 0 112px 0 30px;
    margin: auto;
  }
  .bookBox__img .check {
    display: block;
    position: relative;
    line-height: 0;
  }
  .bookBox__img .check:before {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: url(../img/check.svg) no-repeat center/100% 100%;
    z-index: 999;
  }
  .bookBox__img_size {
    display: inline-block;
    width: 168px;
  }
  .listBox {
    margin-bottom: 115px;
  }
  .listBox .wrapper {
    width: 560px !important;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .listBox__btn {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border: 1px solid #333;
    text-align: center;
    position: relative;
    margin-bottom: 18px;
  }
  .listBox__btn_font {
    width: 20%;
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
  }
  .listBox__btn_font span {
    margin: auto;
  }
  .listBox__btn-list {
    width: 80%;
    padding: 24px 40px 4px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
  }
  .listBox__btn-item {
    margin: 0 40px 20px 0;
    position: relative;
  }
  .listBox__btn-item:after {
    position: absolute;
    content: "";
    background: #b6b6b6;
    bottom: -2px;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: 100%;
  }
  .listBox__btn-item:hover {
    opacity: .5;
    transition: 0.3s linear;
  }
  .commentsBox {
    padding-bottom: 96px;
    border-bottom: 1px solid #111;
    margin-bottom: 56px;
  }
  .commentsBox__title {
    text-align: center;
    position: relative;
    margin-bottom: 12px;
  }
  .commentsBox__title:before {
    position: absolute;
    content: "";
    top: 15px;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 2px;
    background-color: #111;
    z-index: 0;
  }
  .commentsBox__title_font {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1;
    background: #fff;
    padding: 0 28px 12px;
    z-index: 10;
    position: relative;
  }
  .commentsBox__title_font:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 153px;
    height: 1px;
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
  }
  .commentsBox__sub {
    text-align: center;
    margin-bottom: 54px;
  }
  .commentsBox__desc {
    text-align: center;
    margin-bottom: 63px;
  }
  .commentsBox .comment-form form {
    margin: 0 16px 0;
  }
  .commentsBox .comment-form-author {
    margin-bottom: 24px;
  }
  .commentsBox .comment-form-author label {
    display: block;
    font-style: italic;
    font-size: 1.4rem;
    line-height: 14px;
    margin-bottom: 10px;
  }
  .commentsBox .comment-form-author #author {
    font-size: 1.5rem;
    line-height: 2.2rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 200px;
    height: 34px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .commentsBox .comment-form-comment {
    margin-bottom: 15px;
  }
  .commentsBox .comment-form-comment label {
    display: block;
    font-style: italic;
    font-size: 1.4rem;
    line-height: 14px;
    margin-bottom: 10px;
  }
  .commentsBox .comment-form-comment textarea {
    font-size: 1.4rem;
    line-height: 2.0rem;
    border: 1px solid #ccc;
    width: 752px;
    height: 149px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .commentsBox .comment-form .form-submit {
    text-align: right;
    margin-bottom: 59px;
  }
  .commentsBox .comment-form .form-submit .submit {
    line-height: 42px;
    appearance: none;
    -webkit-appearance: none;
    padding: 0;
    width: 154px;
    border: 1px solid #111;
    font-size: 1.4rem;
    font-family: "Lato","游ゴシック", "Yu Gothic", "YuGothic" , "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
    cursor: pointer;
  }
  .commentsBox .comment-form .form-submit .submit:hover {
    background-color: #111;
    color: #fff;
    transition-property: all;
    transition: 0.3s linear;
  }
  .commentsBox .comment-reply-title {
    font-size: 1.6rem;
    line-height: 3.4rem;
    margin: 0 16px 24px;
  }
  .commentsBox .comment-reply-title > a {
    font-weight: bold;
    margin-right: 8px;
  }
  .commentsBox #cancel-comment-reply-link {
    float: right;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #777;
    padding: 4px 6px;
    border: 1px solid #ccc;
  }
  .commentsBox #cancel-comment-reply-link:hover {
    background-color: #ccc;
    color: #fff;
    transition-property: all;
    transition: 0.3s linear;
  }
  .commentsBox .comment-area {
    padding-bottom: 49px;
    margin: 0 16px 56px;
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
  }
  .commentsBox .commets-area-list {
    padding: 17px 0 32px;
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  .commentsBox .commets-area-list-meta {
    line-height: 22px;
  }
  .commentsBox .commets-area-list-meta-author {
    font-weight: bold;
  }
  .commentsBox .commets-area-list-meta-date {
    margin-left: 18px;
    color: #777;
    font-style: italic;
  }
  .commentsBox .commets-area-list-meta-time {
    margin-left: 14px;
    color: #777;
    font-style: italic;
  }
  .commentsBox .commets-area-list-meta-edit {
    display: inline-block;
    margin-left: 32px;
    width: 52px;
    text-align: center;
    line-height: 22px;
    font-size: 1.3rem;
    color: #777;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .commentsBox .commets-area-list-meta-edit:hover {
    background-color: #ccc;
    color: #fff;
    transition-property: all;
    transition: 0.3s linear;
    cursor: pointer;
  }
  .commentsBox .commets-area-list-text {
    padding: 32px 32px 42px 16px;
  }
  .commentsBox .commets-area-list-text p {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .commentsBox .commets-area-list-text .instagram-media {
    margin-bottom: 80px !important;
  }
  .commentsBox .commets-area-list-text iframe {
    margin-bottom: 56px !important;
  }
  p + .commentsBox .commets-area-list-text iframe {
    margin-bottom: 24px;
  }
  .commentsBox .commets-area-list-text .wp-caption.alignnone {
    width: 560px !important;
  }
  .commentsBox .commets-area-list-text .wp-caption.alignnone img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
  }
  .commentsBox .commets-area-list-text twitterwidget {
    margin: 0 0 56px 0 !important;
  }
  p + .commentsBox .commets-area-list-text twitterwidget {
    margin-bottom: 24px;
  }
  .commentsBox .comment-reply-link {
    margin-left: 16px;
    font-weight: bold;
    color: #777;
    padding-left: 17px;
    position: relative;
  }
  .commentsBox .comment-reply-link:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 8px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url("../img/icon_arrow_right.svg") no-repeat center/100% 100%;
  }
  .commentsBox .children {
    margin: 0 0 32px 16px;
    border-left: 2px solid #ccc;
  }
  .commentsBox .children .commets-area-list {
    background: none;
    margin-left: 21px;
  }
  .commentsBox .commetsAll {
    margin: auto;
    width: 198px;
    border: 1px solid #111;
    cursor: pointer;
  }
  .commentsBox .commetsAll__text {
    line-height: 44px;
    font-size: 14px;
    text-align: center;
  }
  .commentsBox .commetsAll:hover {
    background-color: #111;
    color: #fff;
    transition-property: all;
    transition: 0.3s linear;
  }
  #item .pickBox__list {
    padding: 0 32px;
  }
  #item .pickBox__title {
    text-align: center;
  }
  #item .pickBox__title_jp {
    text-align: center;
    margin-left: 0;
    position: relative;
  }
  #item .pickBox__title_jp:before {
    position: absolute;
    content: "";
    top: -7px;
    height: 1px;
    width: 100%;
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  #item .pickBox__item {
    width: 132px;
  }
  #item .pickBox__img_size {
    width: 132px;
  }
  #item .pickBox a {
    outline: none !important;
  }
}
