@media screen and (max-width: 769px) {
  .aboutWrapper, .aboutBox {
    margin: auto;
    width: calc((285/375)*100vmin);
  }
  .aboutBox {
    margin: 0 0 calc((250/667)*100vmax) calc((22/375)*100vmin);
    padding: calc((33/667)*100vmax) calc((33/375)*100vmin) 0;
    border: 2px solid #111;
    position: relative;
    height: calc((446/667)*100vmax);
  }
  .aboutBox__bg {
    position: absolute;
    content: "";
    z-index: -10;
    bottom: calc((-203/667)*100vmax);
    left: calc((-32/375)*100vmin);
    width: calc((263/375)*100vmin);
    height: calc((263/667)*100vmax);
    background: url(../img/bg_about.jpg) no-repeat left/100% 100%;
  }
  .aboutBox__title {
    font-size: 2.7rem;
    font-weight: 900;
    text-align: center;
    line-height: 1;
    position: relative;
    padding-bottom: calc((32/667)*100vmax);
    margin: 0 0 calc((27/667)*100vmax) calc((-10/375)*100vmin);
  }
  .aboutBox__title_fontSize {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1;
  }
  .aboutBox__title:before {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
    position: absolute;
    content: "";
    bottom: 5px;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: calc((34/375)*100vmin);
  }
  .aboutBox__title:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: calc((34/375)*100vmin);
    background: #111;
  }
  .aboutBox__img {
    position: relative;
    top: 13px;
    width: 297px;
    height: 32px;
    margin-bottom: calc((9/667)*100vmax);
  }
  .aboutBox__text {
    font-size: 1.5rem;
    line-height: 3.0rem;
  }
  .aboutBox .content:nth-of-type(2) {
    opacity: 1;
  }
  .aboutBox .content:nth-of-type(2) p {
    opacity: 1;
    animation: 2s cubic-bezier(0.46, 1.21, 0.76, 0.88);
    animation-name: fade-in;
    margin-bottom: calc((32/667)*100vmax);
  }
  @keyframes fade-in {
    0% {
      display: none;
      opacity: 0;
    }
    10% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }
  @-moz-keyframes fade-in {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }
  @-webkit-keyframes fade-in {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }
  .aboutBox .content:nth-of-type(3) {
    margin-bottom: calc((56/667)*100vmax);
  }
  .aboutBox__btn {
    margin: calc((20/667)*100vmax) auto calc((47/667)*100vmax);
    line-height: 6.0rem;
    text-align: center;
    width: calc((60/375)*100vmin);
    height: calc((60/375)*100vmin);
    border: 1px solid #111;
    border-radius: 50% 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .aboutPopup {
    display: none;
    margin: auto;
    width: calc((345/375)*100vmin);
    background: #fff url(../img/bg_aboutPopup_sp.jpg) no-repeat center bottom !important;
    background-size: 100% !important;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .aboutPopup.remodal {
    padding: 0;
    max-width: calc((345/375)*100vmin) !important;
  }
  .aboutPopup .remodal-close {
    width: 70px;
    height: 70px;
    top: auto;
    left: auto;
    bottom: 29px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .aboutPopup .remodal-close:before {
    width: 20px !important;
    height: 20px !important;
    content: "" !important;
    background: url(../img/icon_close.png) no-repeat center center;
    background-size: 100% 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  .aboutPopup .remodal-close:after {
    position: absolute;
    bottom: 11px;
    right: 0;
    left: 0;
    margin: auto;
    width: 35px;
    height: 10px;
    line-height: 10px;
    content: "CLOSE";
    color: #111;
    font-size: 1.0rem;
  }
  .aboutPopup__border {
    text-align: left;
    margin: calc((4/667)*100vmax) calc((4/375)*100vmin);
    padding: calc((33/667)*100vmax) calc((20/375)*100vmin) calc((108/667)*100vmax);
    border: 2px solid #111;
  }
  .aboutPopup__title {
    font-size: 2.7rem;
    font-weight: 900;
    text-align: center;
    line-height: 1;
    position: relative;
    padding-bottom: calc((32/667)*100vmax);
    margin-bottom: calc((27/667)*100vmax);
  }
  .aboutPopup__title_fontSize {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1;
  }
  .aboutPopup__title:before {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
    position: absolute;
    content: "";
    bottom: 5px;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: calc((34/375)*100vmin);
  }
  .aboutPopup__title:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: calc((34/375)*100vmin);
    background: #111;
  }
  .aboutPopup__text {
    font-size: 1.5rem;
    line-height: 3.0rem;
  }
  .aboutPopup__btn {
    margin: calc((20/667)*100vmax) auto calc((47/667)*100vmax);
    line-height: 6.0rem;
    text-align: center;
    width: calc((60/375)*100vmin);
    height: calc((60/375)*100vmin);
    border: 1px solid #111;
    border-radius: 50% 50%;
  }
}

@media screen and (min-width: 770px) {
  .containerPc, .aboutBox, .aboutPopup {
    width: 944px;
    margin-left: auto;
  }
  .aboutBox {
    border: 2px solid #111;
    box-sizing: border-box;
    padding: 46px 123px 64px 202px;
    position: relative;
    overflow: visible;
    margin-bottom: 109px;
    width: 883px;
    box-sizing: border-box;
  }
  .aboutBox__bg {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    margin: auto;
    right: 759px;
    width: 49.83%;
    height: 113.18%;
    z-index: -10;
  }
  .aboutBox__bg:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg_about.jpg) no-repeat top left/100% 100%;
  }
  .aboutBox__title {
    font-size: 3.2rem;
    font-weight: 900;
    text-align: center;
    line-height: 3.0rem;
    padding-bottom: 28px;
    position: relative;
    margin-bottom: 24px;
  }
  .aboutBox__title:before {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
    position: absolute;
    content: "";
    bottom: 5px;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: 34px;
  }
  .aboutBox__title:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: 34px;
    background: #111;
  }
  .aboutBox__title_fontSize {
    display: inline-block;
    padding-left: 10px;
    font-size: 2.0rem;
    font-weight: normal;
    line-height: 1;
  }
  .aboutBox__img {
    position: relative;
    top: 13px;
    width: 420px;
    height: 46px;
  }
  .aboutBox__text {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }
  .aboutBox .content:nth-of-type(2) p:first-child {
    margin-bottom: 20px;
  }
  .aboutPopup {
    box-sizing: border-box;
    overflow: visible;
    margin-bottom: 113px;
    background: #fff url(../img/bg_aboutPopup.jpg) no-repeat left/auto 100% !important;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .aboutPopup.remodal {
    padding: 0;
    max-width: 944px !important;
  }
  .aboutPopup .remodal-close {
    width: 35px;
    top: auto;
    left: auto;
    bottom: 36px;
    right: 41px;
  }
  .aboutPopup .remodal-close:before {
    width: 20px !important;
    height: 20px !important;
    content: "" !important;
    background: url(../img/icon_close.png) no-repeat center center;
    background-size: 100% 100%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .aboutPopup .remodal-close:after {
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 35px;
    height: 10px;
    line-height: 10px;
    content: "CLOSE";
    color: #111;
    font-size: 1.0rem;
  }
  .aboutPopup__border {
    margin: 10px;
    border: 2px solid #111;
    padding: 72px 96px 82px 269px;
  }
  .aboutPopup__title {
    font-size: 3.2rem;
    font-weight: 900;
    text-align: center;
    line-height: 3.3rem;
    padding-bottom: 28px;
    position: relative;
    margin-bottom: 24px;
  }
  .aboutPopup__title:before {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
    position: absolute;
    content: "";
    bottom: 5px;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: 34px;
  }
  .aboutPopup__title:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 1px;
    width: 34px;
    background: #111;
  }
  .aboutPopup__title_fontSize {
    display: inline-block;
    padding-left: 10px;
    font-size: 2.0rem;
    font-weight: normal;
    line-height: 1;
  }
  .aboutPopup__img {
    position: relative;
    top: 13px;
    width: 420px;
    height: 46px;
  }
  .aboutPopup__text {
    font-size: 1.5rem;
    line-height: 2.6rem;
    text-align: left;
  }
  .aboutPopup__text:nth-of-type(1) {
    margin-bottom: 20px;
  }
}
