@media screen and (max-width: 769px) {
  .container, .allBox {
    width: calc((345/375)*100vmin);
    margin: auto;
  }
  .allBox__title {
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: calc((20/667)*100vmax);
    position: relative;
  }
  .allBox__title_jp {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0 auto calc((12/375)*100vmin);
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 3.0rem;
  }
  .allBox__item {
    margin-bottom: calc((20/667)*100vmax);
    position: relative;
    width: calc((167/375)*100vmin);
  }
  .allBox__item.new .allBox__img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: calc((56/375)*100vmin);
    height: calc((56/375)*100vmin);
    background: url(../img/new_small.svg) no-repeat center/100% 100%;
  }
  .allBox__item.kids .allBox__img {
    position: relative;
  }
  .allBox__item.kids .allBox__img:after {
    position: absolute;
    content: "Kids";
    bottom: 8px;
    right: 8px;
    width: calc((48/375)*100vmin);
    height: calc((22/667)*100vmax);
    background: #fff;
    font-size: 1.3rem;
    line-height: calc((22/667)*100vmax);
    text-align: center;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.06);
  }
  .allBox__list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
  .allBox__img {
    line-height: 0;
  }
  .allBox__img_size {
    width: calc((167/375)*100vmin);
    height: calc((167/375)*100vmin);
  }
  .allBox__itemName {
    margin-top: calc((13/375)*100vmin);
  }
  .allBox__itemName.allBox_font {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .allBox__itemPrice.allBox_font {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .allBox__itemSize_font {
    font-size: 1.1rem;
    line-height: 1.9rem;
    color: #777;
  }
  .allBox__itemSize span {
    padding-right: calc((12/375)*100vmin);
    position: relative;
  }
  .allBox__itemSize span:after {
    position: absolute;
    content: "/";
    width: calc((12/375)*100vmin);
    height: calc((24/667)*100vmax);
    text-align: center;
    right: 0;
  }
  .allBox__itemSize span:last-child {
    padding-right: 0;
  }
  .allBox__itemSize span:last-child:after {
    content: none;
  }
  .allBox__btn {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.1rem;
    text-align: center;
    width: calc((197/375)*100vmin);
    padding: calc((18.5/667)*100vmin) 0;
    margin: calc((34/375)*100vmin) auto 0;
    border: 1px solid #111;
  }
  .allBox .explainBox {
    display: flex !important;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: calc((52/375)*100vmin) auto calc((28/375)*100vmin);
    padding-bottom: calc((52/375)*100vmin);
    border-bottom: 1px solid #ccc;
  }
  .allBox .explainBox__btn {
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    width: calc((165/375)*100vmin);
    margin-bottom: calc((40/667)*100vmax);
  }
  .allBox .explainBox__btn .font {
    line-height: 4.3rem;
    font-size: 1.3rem;
    position: relative;
  }
  .allBox .explainBox__btn.size .font {
    display: block;
    padding-left: calc((40/375)*100vmin);
  }
  .allBox .explainBox__btn.size .font:before {
    position: absolute;
    content: "";
    left: calc((14/375)*100vmin);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background: url(../img/icon_question.svg) no-repeat center/100% 100%;
  }
  .allBox .explainBox__btn.size .arrow {
    position: relative;
    vertical-align: middle;
  }
  .allBox .explainBox__btn.size .arrow:after {
    width: 6px;
    height: 6px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
    top: -1px;
    left: 8px;
  }
  .allBox .explainBox__btn.pattern .font {
    display: block;
    padding-left: calc((43/375)*100vmin);
  }
  .allBox .explainBox__btn.pattern .font:before {
    position: absolute;
    content: "";
    left: calc((23/375)*100vmin);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 14px;
    background: url(../img/icon_scissors.svg) no-repeat center/100% 100%;
  }
  .allBox .explainBox__btn .arrow {
    position: relative;
    vertical-align: middle;
  }
  .allBox .explainBox__btn .arrow:after {
    width: 6px;
    height: 6px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
    top: -1px;
    left: 8px;
  }
  .allBox .explainBox .bannerBox__item_size {
    width: 100%;
  }
}

@media screen and (min-width: 770px) {
  .allBox {
    margin: 0 auto;
  }
  .allBox__title {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .allBox__title_jp {
    font-size: 1.1rem;
    font-weight: normal;
  }
  .allBox__list {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    margin-bottom: 16px;
  }
  .allBox__item {
    width: 212px;
    margin: 0 32px 32px 0;
    position: relative;
    outline: none !important;
  }
  .allBox__item:nth-child(4n) {
    margin-right: 0;
  }
  .allBox__item:hover {
    opacity: .7;
    transition-property: all;
    transition: 0.25s linear;
  }
  .allBox__item.new .allBox__img {
    position: relative;
  }
  .allBox__item.new .allBox__img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url(../img/new_large.svg) no-repeat center/100% 100%;
  }
  .allBox__item.kids .allBox__img {
    position: relative;
  }
  .allBox__item.kids .allBox__img:after {
    position: absolute;
    content: "Kids";
    bottom: 8px;
    right: 8px;
    width: 48px;
    height: 22px;
    background: #fff;
    line-height: 22px;
    text-align: center;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.06);
  }
  .allBox__itemSize_font {
    font-size: 1.1rem;
    line-height: 2.4rem;
    color: #777;
  }
  .allBox__itemSize span {
    padding-right: 12px;
    position: relative;
  }
  .allBox__itemSize span:after {
    position: absolute;
    content: "/";
    width: 12px;
    height: 24px;
    text-align: center;
    right: 0;
  }
  .allBox__itemSize span:last-child {
    padding-right: 0;
  }
  .allBox__itemSize span:last-child:after {
    content: none;
  }
  .allBox__img {
    line-height: 0;
    margin-bottom: 17px;
  }
  .allBox__img_size {
    width: 212px;
    height: 212px;
  }
  .allBox_font {
    font-size: 1.2rem;
    line-height: 2.0rem;
  }
  .allBox__btn {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 52px;
    text-align: center;
    width: 186px;
    margin: 0 auto;
    border: 1px solid #111;
    cursor: pointer;
  }
  .allBox__btn:hover {
    background-color: #111;
    color: #fff;
    transition-property: all;
    transition: 0.3s linear;
  }
}
