@charset "UTF-8";
html,
body {
  /* font-size: 100%; 16px */
  font-size: 62.5%;
  /* 10px */
}

a {
  text-decoration: none;
  color: #111;
}

a:hover {
  opacity: .8;
  transition-property: all;
  transition: 0.3s linear;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

iframe {
  max-width: 100%;
  max-height: 100%;
}

.mt_0 {
  margin-top: 0px !important;
}

.mt_10 {
  margin-top: 10px !important;
}

.mt_20 {
  margin-top: 20px !important;
}

.mt_30 {
  margin-top: 30px !important;
}

.mt_40 {
  margin-top: 40px !important;
}

.mb_0 {
  margin-bottom: 0px !important;
}

.mb_5 {
  margin-bottom: 5px !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.ml_0 {
  margin-left: 0px !important;
}

.ml_10 {
  margin-left: 10px !important;
}

.ml_20 {
  margin-left: 20px !important;
}

.ml_30 {
  margin-left: 30px !important;
}

.ml_40 {
  margin-left: 40px !important;
}

.mr_0 {
  margin-right: 0px !important;
}

.mr_10 {
  margin-right: 10px !important;
}

.mr_20 {
  margin-right: 20px !important;
}

.mr_30 {
  margin-right: 30px !important;
}

.mr_40 {
  margin-right: 40px !important;
}

.pt_0 {
  padding-top: 0px !important;
}

.pt_10 {
  padding-top: 10px !important;
}

.pt_20 {
  padding-top: 20px !important;
}

.pt_30 {
  padding-top: 30px !important;
}

.pt_40 {
  padding-top: 40px !important;
}

.pb_0 {
  padding-bottom: 0px !important;
}

.pb_10 {
  padding-bottom: 10px !important;
}

.pb_20 {
  padding-bottom: 20px !important;
}

.pb_30 {
  padding-bottom: 30px !important;
}

.pb_40 {
  padding-bottom: 40px !important;
}

.pl_0 {
  padding-left: 0px !important;
}

.pl_10 {
  padding-left: 10px !important;
}

.pl_20 {
  padding-left: 20px !important;
}

.pl_30 {
  padding-left: 30px !important;
}

.pl_40 {
  padding-left: 40px !important;
}

.pr_0 {
  padding-right: 0px !important;
}

.pr_10 {
  padding-right: 10px !important;
}

.pr_20 {
  padding-right: 20px !important;
}

.pr_30 {
  padding-right: 30px !important;
}

.pr_40 {
  padding-right: 40px !important;
}

.fw_b {
  font-weight: bold;
}

.ta_c {
  text-align: center;
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #000;
}

.arrow::before,
.arrow::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

@media screen and (max-width: 769px) {
  body {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #111;
    font-family: "Lato", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
    -webkit-text-size-adjust: 100%;
  }
  .sp {
    display: block !important;
  }
  .pc {
    display: none !important;
  }
  .noDisplay {
    display: none;
  }
  body {
    position: relative;
  }
  .container {
    width: calc((345/375)*100vmin);
    margin: auto;
  }
  main.top {
    overflow: hidden;
  }
}

@media screen and (min-width: 770px) {
  body {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #111;
    font-family: "Lato","游ゴシック", "Yu Gothic", "YuGothic" , "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
    -webkit-text-size-adjust: 100%;
  }
  .sp {
    display: none !important;
  }
  .pc {
    display: block !important;
  }
  .noDisplay {
    display: none;
  }
  main {
    min-width: 1200px;
  }
  .mainContainer {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .flexOrder {
    width: 944px;
    margin: 0 0 137px 32px;
  }
  .subContainer {
    width: 784px;
    margin: auto;
  }
  .main__negativeMargin {
    margin-top: -14px;
  }
  .underLayer__flexOrder {
    display: flex;
    flex-flow: column;
  }
}
