@media screen and (max-width: 769px) {
  .container, .fixMenuBox {
    width: calc((345/375)*100vmin);
    margin: auto;
  }
  .footerBox {
    background: #111;
    padding-bottom: calc((33/667)*100vmax);
  }
  .footerBox .itemBox__title {
    position: relative;
    z-index: 30;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 5.0rem;
    color: #fff;
    text-align: center;
  }
  .footerBox .itemBox__list {
    background: #fff;
    display: flex;
    flex-flow: wrap;
  }
  .footerBox .itemBox__item {
    width: 50%;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    font-size: 1.3rem;
    line-height: 4.0rem;
    text-align: center;
  }
  .footerBox .itemBox__item a {
    display: block;
  }
  .footerBox .itemBox__item:nth-child(-n+2) {
    border-top: none;
  }
  .footerBox .itemBox__item:nth-last-child(2) {
    position: relative;
  }
  .footerBox .itemBox__item:nth-last-child(2):after {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    background: #ccc;
  }
  .footerBox .itemBox__item:nth-last-child(2):nth-child(odd):after {
    position: unset;
  }
  .footerBox .itemBox__item:nth-child(odd) {
    border-right: 1px solid #ccc;
  }
  .footerBox .typeBox__title {
    position: relative;
    z-index: 4;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 5.0rem;
    color: #fff;
    text-align: center;
  }
  .footerBox .typeBox__list {
    background: #fff;
    display: flex;
    flex-flow: wrap;
  }
  .footerBox .typeBox__item {
    width: 50%;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    font-size: 1.3rem;
    line-height: 4.0rem;
    text-align: center;
  }
  .footerBox .typeBox__item a {
    display: block;
  }
  .footerBox .typeBox__item:nth-child(-n+2) {
    border-top: none;
  }
  .footerBox .typeBox__item:nth-last-child(2) {
    position: relative;
  }
  .footerBox .typeBox__item:nth-last-child(2):after {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    background: #ccc;
  }
  .footerBox .typeBox__item:nth-last-child(2):nth-child(odd):after {
    position: unset;
  }
  .footerBox .typeBox__item:nth-child(odd) {
    border-right: 1px solid #ccc;
  }
  .footerBox .guideBox__title {
    position: relative;
    z-index: 6;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 5.0rem;
    color: #fff;
    text-align: center;
  }
  .footerBox .guideBox__list {
    background: #fff;
    display: flex;
    flex-flow: wrap;
  }
  .footerBox .guideBox__item {
    width: 50%;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    font-size: 1.3rem;
    line-height: 4.0rem;
    text-align: center;
  }
  .footerBox .guideBox__item a {
    display: block;
  }
  .footerBox .guideBox__item:nth-child(-n+2) {
    border-top: none;
  }
  .footerBox .guideBox__item:nth-last-child(2) {
    position: relative;
  }
  .footerBox .guideBox__item:nth-last-child(2):after {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    background: #ccc;
  }
  .footerBox .guideBox__item:nth-last-child(2):nth-child(odd):after {
    position: unset;
  }
  .footerBox .guideBox__item:nth-child(odd) {
    border-right: 1px solid #ccc;
  }
  .footerBox .snsiconBox {
    display: flex;
    flex-flow: wrap;
    width: calc((124/375)*100vmin);
    margin: calc((40/375)*100vmin) auto calc((52/375)*100vmin);
    justify-content: space-between;
  }
  .footerBox .snsiconBox li {
    width: calc((30/375)*100vmin);
    height: calc((30/375)*100vmin);
  }
  .footerBox .snsiconBox a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .returnBox {
    background: #fff;
    border-top: 1px solid #111;
    position: relative;
    z-index: 10;
  }
  .returnBox__btn {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: calc((14/667)*100vmax);
    text-align: center;
    position: relative;
  }
  .returnBox__btn a {
    display: inline-block;
    width: calc((120/375)*100vmin);
    padding: calc((31/667)*100vmax) 0 calc((14/667)*100vmax);
  }
  .returnBox__btn .arrow {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .returnBox__btn .arrow:after {
    top: -20px;
    right: 0;
    left: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    border-top: 2px solid #111;
    border-right: 2px solid #111;
    transform: rotate(-45deg);
  }
  .fixMenuBox {
    margin-top: calc((41/375)*100vmin);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .fixMenuBox__item {
    font-size: 1rem;
    line-height: 2.1rem;
  }
  .fixMenuBox__item_font {
    color: #fff;
  }
  .cpyright {
    margin-top: calc((25/375)*100vmin);
    font-size: 1.1rem;
    line-height: 2.1rem;
    color: #fff;
    text-align: center;
  }
}

@media screen and (min-width: 770px) {
  .footerMenu, .footerBox .itemBox, .footerBox .typeBox, .footerBox .guideBox {
    padding: 0 80px 0 31px;
    border-left: 1px solid #ccc;
  }
  .footerBox {
    min-width: 1200px;
    padding-top: 47px;
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  .footerBox__wrapper {
    width: 700px;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 47px 47px 0;
  }
  .footerBox .logo {
    padding-right: 80px;
  }
  .footerBox .logo_imgSize {
    width: 96px;
    height: 124px;
  }
  .footerBox .itemBox__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .footerBox .itemBox__item {
    font-size: 1.2rem;
    margin-bottom: 17px;
  }
  .footerBox .itemBox__item:last-child {
    margin-bottom: 7px;
  }
  .footerBox .typeBox__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .footerBox .typeBox__item {
    font-size: 1.4rem;
    margin-bottom: 17px;
  }
  .footerBox .typeBox__item:last-child {
    margin-bottom: 7px;
  }
  .footerBox .guideBox {
    padding-right: 0;
  }
  .footerBox .guideBox__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .footerBox .guideBox__item {
    font-size: 1.2rem;
    margin-bottom: 17px;
  }
  .footerBox .guideBox__item:last-child {
    margin-bottom: 7px;
  }
  .footerBox__foot {
    padding: 48px;
    background: #111;
    margin: 0 auto;
  }
  .returnBox {
    overflow: visible;
    margin: 0 auto;
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  .returnBox__btn {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    padding: 50px 0 32px;
    position: relative;
  }
  .returnBox__btn .arrow {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .returnBox__btn .arrow:after {
    top: -20px;
    right: 0;
    left: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    border-top: 2px solid #111;
    border-right: 2px solid #111;
    transform: rotate(-45deg);
  }
  .snsiconBox {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 48px;
  }
  .snsiconBox li {
    width: 30px;
    height: 30px;
    margin-right: 16px;
  }
  .snsiconBox li:last-child {
    margin-right: 0;
  }
  .snsiconBox a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .fixMenuBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 24px;
  }
  .fixMenuBox__item {
    margin-right: 40px;
  }
  .fixMenuBox__item:last-child {
    margin-right: 0;
  }
  .fixMenuBox__item_font {
    font-size: 1.1rem;
    color: #fff;
  }
  .cpyright {
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
}
