@media screen and (max-width: 769px) {
  .greetingBox {
    margin: calc((27/667)*100vmax) auto calc((36/667)*100vmax);
    border-top: 2px solid #111;
    border-bottom: 2px solid #111;
    padding: calc((5/667)*100vmax) 0;
    position: relative;
  }
  .greetingBox .dottedBox__dotted {
    height: 1px;
  }
  .greetingBox .dottedBox__dotted_top {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  .greetingBox .dottedBox__dotted_bottom {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
  }
  .greetingBox__wrapper {
    width: calc((285/375)*100vmin);
    padding: calc((20/667)*100vmax) 0;
    margin: auto;
  }
  .greetingBox__title {
    font-size: 2.8rem;
    font-weight: 900;
    text-align: center;
    line-height: 1rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: calc((16/667)*100vmax);
    padding-bottom: calc((14/667)*100vmax);
  }
  .greetingBox__title_size {
    font-size: 1.8rem;
    font-weight: normal;
    font-style: italic;
    line-height: 1.4rem;
  }
  .greetingBox__img {
    position: relative;
    top: 13px;
    width: 286px;
    height: 32px;
    margin-bottom: calc((9/667)*100vmax);
  }
  .greetingBox__text {
    margin-bottom: calc((13/667)*100vmax);
    font-size: 1.3rem;
    text-align: center;
  }
  .greetingBox__btn {
    display: flex;
    flex-flow: row-reverse;
    font-size: 1.1rem;
    line-height: 2.3px;
  }
  .greetingBox__btn .arrow {
    padding: 0 10px;
    position: relative;
    line-height: 23px;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: 0;
  }
  .greetingBox__btn .arrow:after {
    left: auto;
    right: 0;
    width: 6px;
    height: 6px;
    border-top: 1px solid #111;
    border-right: 1px solid #111;
    transform: rotate(45deg);
  }
}

@media screen and (min-width: 770px) {
  .mainWrapper, .greetingBox {
    width: 800px;
    margin: 0 auto 80px;
    box-sizing: border-box;
  }
  .greetingBox {
    border: 2px solid #111;
    padding: 8px;
  }
  .greetingBox .dottedBox {
    position: relative;
  }
  .greetingBox .dottedBox:before {
    border: none;
    background: linear-gradient(to bottom, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-y;
    background-size: 1px 6px;
    background-position: right 4px;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
  }
  .greetingBox .dottedBox:after {
    border: none;
    background: linear-gradient(to bottom, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-y;
    background-size: 1px 6px;
    background-position: left 4px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
  }
  .greetingBox .dottedBox__dotted {
    height: 1px;
  }
  .greetingBox .dottedBox__dotted_top {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  .greetingBox .dottedBox__dotted_bottom {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
  }
  .greetingBox__wrapper {
    width: 570px;
    margin: 0 auto;
    padding: 36px 0 16px;
  }
  .greetingBox__title {
    font-size: 3.6rem;
    font-weight: 900;
    text-align: center;
    line-height: 3.6rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;
    padding-bottom: 16px;
  }
  .greetingBox__title_size {
    display: block;
    font-size: 2.2rem;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 10px;
    line-height: 1.6rem;
  }
  .greetingBox__img {
    width: 402px;
    height: 44px;
  }
  .greetingBox__text {
    margin-bottom: 26px;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .greetingBox__btn {
    display: flex;
    flex-flow: row-reverse;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 0 -75px 0 0;
  }
  .greetingBox__btn .arrow {
    display: block;
    line-height: 20px;
    padding: 0 11px;
    right: 0;
    bottom: 0;
    margin: 0 0 0 auto;
    position: relative;
  }
  .greetingBox__btn .arrow:after {
    left: auto;
    top: 0;
    bottom: 1px;
    margin: auto;
    width: 6px;
    height: 6px;
    border-top: 1px solid #111;
    border-right: 1px solid #111;
    transform: rotate(45deg);
  }
}
