@charset "UTF-8";
@media screen and (max-width: 769px) {
  .underLayer {
    padding-bottom: calc((10.5/667)*100vmax);
    border-bottom: 1px solid #ccc;
    margin-bottom: calc((47.5/667)*100vmax);
  }
  .underLayer__btn {
    width: calc((345/375)*100vmin);
    margin: auto;
  }
  .underLayer__btn .explainBox {
    display: flex !important;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: calc((52/667)*100vmax) auto calc((28/667)*100vmax);
    padding-bottom: calc((52/375)*100vmin);
    border-bottom: 1px solid #ccc;
  }
  .underLayer__btn .explainBox__btn {
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    width: calc((165/375)*100vmin);
    margin-bottom: calc((40/667)*100vmax);
  }
  .underLayer__btn .explainBox__btn .font {
    line-height: 4.3rem;
    font-size: 1.3rem;
    position: relative;
  }
  .underLayer__btn .explainBox__btn.size .font {
    display: block;
    padding-left: calc((40/375)*100vmin);
  }
  .underLayer__btn .explainBox__btn.size .font:before {
    position: absolute;
    content: "";
    left: calc((14/375)*100vmin);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background: url(../img/icon_question.svg) no-repeat center/100% 100%;
  }
  .underLayer__btn .explainBox__btn.size .arrow {
    position: relative;
    vertical-align: middle;
  }
  .underLayer__btn .explainBox__btn.size .arrow:after {
    width: 6px;
    height: 6px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
    top: -1px;
    left: 8px;
  }
  .underLayer__btn .explainBox__btn.pattern .font {
    display: block;
    padding-left: calc((43/375)*100vmin);
  }
  .underLayer__btn .explainBox__btn.pattern .font:before {
    position: absolute;
    content: "";
    left: calc((23/375)*100vmin);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 14px;
    background: url(../img/icon_scissors.svg) no-repeat center/100% 100%;
  }
  .underLayer__btn .explainBox__btn .arrow {
    position: relative;
    vertical-align: middle;
  }
  .underLayer__btn .explainBox__btn .arrow:after {
    width: 6px;
    height: 6px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
    top: -1px;
    left: 8px;
  }
  .underLayer__btn .explainBox .bannerBox__item_size {
    width: 100%;
  }
  .underLayer__title {
    margin-bottom: calc((48/667)*100vmax);
    text-align: center;
  }
  .underLayer__title_font {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.1rem;
  }
  .contentsBox {
    width: calc((345/375)*100vmin);
    margin: auto;
  }
  .howtoBox {
    width: calc((345/375)*100vmin);
    padding-bottom: calc((80/667)*100vmax);
    position: relative;
    margin-bottom: calc((50/667)*100vmax);
  }
  .howtoBox:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto calc((-15/375)*100vmin);
    background: #111;
    height: 1px;
  }
  .howtoBox__item {
    margin-bottom: calc((32/667)*100vmax);
  }
  .howtoBox__num {
    box-sizing: border-box;
    width: calc((34/375)*100vmin);
    padding-bottom: calc((19/667)*100vmax);
    border-bottom: 1px solid #111;
    margin: 0 auto calc((12/667)*100vmax);
    position: relative;
  }
  .howtoBox__num:after {
    position: absolute;
    content: "";
    bottom: calc((7/667)*100vmax);
    width: 100%;
    height: 1px;
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  .howtoBox__num_font {
    text-align: center;
    font-size: 3.0rem;
    font-weight: bold;
    line-height: 2.2rem;
  }
  .howtoBox__img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
    margin: 0 0 calc((16/667)*100vmax) 0;
  }
  .howtoBox__img_size {
    width: calc((345/375)*100vmin);
    height: auto;
    display: block;
  }
  .howtoBox__text {
    margin-bottom: calc((12/667)*100vmax);
  }
  .howtoBox__text_font {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .howtoBox__comment_font {
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
  .sizeNotationBox .wrapperBox {
    padding-bottom: calc((80/667)*100vmax);
    position: relative;
    margin-bottom: calc((50/667)*100vmax);
  }
  .sizeNotationBox .wrapperBox:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto calc((-15/375)*100vmin);
    background: #111;
    height: 1px;
  }
  .sizeNotationBox__title {
    padding-left: calc((15/375)*100vmin);
    border-left: 5px solid #333;
    box-sizing: border-box;
    margin-bottom: calc((32/667)*100vmax);
  }
  .sizeNotationBox__title_font {
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 2.8rem;
  }
  .sizeNotationBox__desc {
    margin-bottom: calc((36/667)*100vmax);
  }
  .sizeNotationBox__desc_font {
    font-size: 1.5rem;
    line-height: 2.7rem;
  }
  .sizeNotationBox__subTitle {
    margin-bottom: calc((16/667)*100vmax);
  }
  .sizeNotationBox__subTitle_font {
    font-size: 1.9rem;
    line-height: 1.4rem;
  }
  .sizeNotationBox__img {
    margin-bottom: calc((24/667)*100vmax);
  }
  .sizeNotationBox__img.tops .sizeNotationBox__img_size {
    line-height: 0;
    margin-bottom: 22px;
    width: calc((345/375)*100vmin);
  }
  .sizeNotationBox__img.tops .sizeNotationBox__img_size_size {
    width: 100%;
    display: block;
  }
  .sizeNotationBox__img.bottoms {
    line-height: 0;
    margin: 0 auto 22px;
    width: calc((345/375)*100vmin);
  }
  .sizeNotationBox__img.bottoms .sizeNotationBox__img_size {
    width: 100%;
    display: block;
  }
  .sizeNotationBox__listBox {
    margin-bottom: calc((28/667)*100vmax);
  }
  .sizeNotationBox__list {
    width: calc((315/375)*100vmin);
    margin: 0 auto calc((12/667)*100vmax);
  }
  .sizeNotationBox__list:last-child {
    margin-bottom: 0;
  }
  .sizeNotationBox__item {
    font-size: 1.5rem;
    line-height: 2.2rem;
    vertical-align: top;
    display: inline-block;
  }
  .sizeNotationBox__item_font {
    font-weight: bold;
  }
  .sizeNotationBox__item .threeDots {
    font-family: "ヒラギノ角ゴシック";
  }
  .sizeNotationBox__item_text {
    display: inline;
  }
  .buyGuideBox {
    padding-bottom: calc((80/667)*100vmax);
    position: relative;
  }
  .buyGuideBox:after {
    position: absolute;
    content: "";
    height: 1px;
    width: calc((375/375)*100vmin);
    background: #111;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 calc((-15/375)*100vmin);
  }
  .buyGuideBox__title {
    padding-left: calc((15/375)*100vmin);
    border-left: 5px solid #333;
    box-sizing: border-box;
    margin-bottom: calc((32/667)*100vmax);
  }
  .buyGuideBox__title_font {
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 2.8rem;
  }
  .buyGuideBox__desc {
    margin-bottom: calc((36/667)*100vmax);
  }
  .buyGuideBox__desc_font {
    font-size: 1.5rem;
    line-height: 2.7rem;
  }
  .buyGuideBox__list {
    margin-bottom: 72px;
  }
  .buyGuideBox__item {
    margin-bottom: 40px;
  }
  .buyGuideBox__img {
    line-height: 0;
    width: 100%;
  }
  .buyGuideBox__img_size {
    max-width: calc((345/375)*100vmin);
    max-height: calc((275/667)*100vmax);
    height: auto;
  }
  .buyGuideBox__step {
    font-size: 1.5rem;
    line-height: 2.7rem;
    margin-bottom: calc((20/667)*100vmax);
  }
  .buyGuideBox__text {
    font-size: 1.5rem;
    line-height: 2.7rem;
  }
  .buyGuideBox .buyMethod {
    margin-bottom: calc((44/667)*100vmax);
  }
  .buyGuideBox .buyMethod:last-child {
    margin-bottom: 0;
  }
  .buyGuideBox .buyMethod .buyGuideBox__text {
    font-size: 1.5rem;
    line-height: 2.7rem;
  }
  .faqBox {
    width: calc((345/375)*100vmin);
    padding-bottom: calc((80/667)*100vmax);
    position: relative;
    margin-bottom: calc((50/667)*100vmax);
  }
  .faqBox:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto calc((-15/375)*100vmin);
    background: #111;
    height: 1px;
  }
  .faqBox__desc {
    margin-bottom: calc((36/667)*100vmax);
  }
  .faqBox__desc_font {
    font-size: 1.5rem;
    line-height: 2.7rem;
  }
  .faqBox__item {
    font-size: 1.5rem;
    margin-bottom: calc((28/667)*100vmax);
    line-height: 2.8rem;
    padding-bottom: calc((30/667)*100vmax);
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
  }
  .faqBox__item:last-child {
    background: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .faqBox__question {
    font-weight: bold;
    margin-bottom: calc((8/667)*100vmax);
  }
  .faqBox__answer a {
    position: relative;
  }
  .faqBox__answer a:after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #818181;
  }
}

@media screen and (min-width: 770px) {
  .titleBox {
    width: 944px;
    margin: 0 auto 40px 256px;
  }
  .contentsBox {
    padding-top: 56px;
  }
  .sidebarBox__mt {
    margin-top: 80px;
  }
  .underLayer__title_font {
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 26px;
  }
  .howtoBox {
    margin-left: 80px;
  }
  .howtoBox__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .howtoBox__item {
    width: 376px;
    margin: 0 32px 68px 0;
  }
  .howtoBox__num {
    display: inline-block;
    box-sizing: border-box;
    width: 34px;
    padding-bottom: 23px;
    border-bottom: 1px solid #111;
    margin: 0 0 16px 8px;
    position: relative;
  }
  .howtoBox__num:after {
    position: absolute;
    content: "";
    bottom: 6px;
    width: 100%;
    height: 1px;
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  .howtoBox__num_font {
    text-align: center;
    font-size: 3.0rem;
    font-weight: bold;
    line-height: 2.3rem;
  }
  .howtoBox__img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  .howtoBox__img_size {
    width: 100%;
    height: auto;
    display: block;
  }
  .howtoBox__text {
    margin-bottom: 19px;
  }
  .howtoBox__text_font {
    font-size: 1.4rem;
    line-height: 26px;
  }
  .howtoBox__comment_font {
    font-size: 1.3rem;
    line-height: 11px;
  }
  .sizeNotationBox {
    margin-left: 40px;
  }
  .sizeNotationBox .wrapperBox {
    margin-left: 40px;
  }
  .sizeNotationBox__title {
    padding-left: 22px;
    border-left: 6px solid #333;
    margin-bottom: 40px;
    box-sizing: border-box;
  }
  .sizeNotationBox__title_font {
    font-size: 2.2rem;
    line-height: 30px;
  }
  .sizeNotationBox__desc {
    margin-bottom: 56px;
  }
  .sizeNotationBox__desc_font {
    font-size: 1.5rem;
    line-height: 14px;
  }
  .sizeNotationBox__subTitle {
    margin-bottom: 20px;
  }
  .sizeNotationBox__subTitle_font {
    font-size: 2.0rem;
    line-height: 15px;
  }
  .sizeNotationBox__img.tops {
    line-height: 0;
    margin-bottom: 22px;
    width: 720px;
  }
  .sizeNotationBox__img.tops .sizeNotationBox__img_size {
    width: 100%;
    display: block;
  }
  .sizeNotationBox__img.bottoms {
    line-height: 0;
    margin-bottom: 32px;
    width: 518px;
  }
  .sizeNotationBox__img.bottoms .sizeNotationBox__img_size {
    width: 100%;
    display: block;
  }
  .sizeNotationBox__listBox.tops {
    margin-bottom: 64px;
  }
  .sizeNotationBox__list {
    margin-bottom: 8px;
  }
  .sizeNotationBox__item {
    display: inline-block;
    line-height: 26px;
    font-size: 1.5rem;
    vertical-align: top;
  }
  .sizeNotationBox__item_font {
    font-weight: bold;
  }
  .sizeNotationBox__item .threeDots {
    font-family: "ヒラギノ角ゴシック";
  }
  .sizeNotationBox__item_text {
    display: inline-block;
  }
  .faqBox {
    width: 904px;
    margin-left: 40px;
  }
  .faqBox__desc {
    margin-bottom: 72px;
  }
  .faqBox__desc_font {
    font-size: 1.5rem;
    line-height: 28px;
  }
  .faqBox__subTitle {
    margin-bottom: 80px;
  }
  .faqBox__subTitle_font {
    font-size: 2.0rem;
    line-height: 15px;
  }
  .faqBox__item {
    font-size: 1.5rem;
    margin-bottom: 56px;
    line-height: 28px;
    padding-bottom: 52px;
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
  }
  .faqBox__item:last-child {
    background: none;
  }
  .faqBox__question {
    font-weight: bold;
    margin-bottom: 28px;
  }
  .faqBox__answer a {
    position: relative;
  }
  .faqBox__answer a:after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #818181;
  }
  .buyGuideBox__desc {
    margin-bottom: 72px;
  }
  .buyGuideBox__desc_font {
    font-size: 1.5rem;
    line-height: 28px;
  }
  .buyGuideBox__title {
    padding-left: 22px;
    border-left: 6px solid #333;
    margin-bottom: 40px;
  }
  .buyGuideBox__title_font {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 30px;
  }
  .buyGuideBox__list {
    margin-left: 40px;
  }
  .buyGuideBox__item {
    margin-bottom: 20px;
  }
  .buyGuideBox__img {
    line-height: 0;
    width: 620px;
  }
  .buyGuideBox__img_size {
    max-width: 620px;
    height: auto;
  }
  .buyGuideBox__step {
    font-size: 1.5rem;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .buyGuideBox__text {
    font-size: 1.5rem;
    line-height: 28px;
  }
  .buyGuideBox .buyMethod {
    margin-bottom: 72px;
  }
  .buyGuideBox .buyMethod:last-child {
    margin-bottom: 0;
  }
  .buyGuideBox .buyMethod .guideBox__text {
    font-size: 1.5rem;
    line-height: 28px;
    margin: 0 0 0 40px;
  }
}
