@media screen and (max-width: 769px) {
  html .active {
    position: fixed;
  }
  html .submit.active {
    position: static;
  }
  header {
    padding-top: calc((14.5/375)*100vmin);
    position: relative;
    z-index: 40;
  }
  .logo {
    position: relative;
    margin: auto 0;
    text-align: center;
    line-height: 0;
  }
  .logo_imgSize {
    display: inline-block;
    width: 60px;
    height: 80px;
  }
  .hamburgerBtn {
    display: block;
    position: absolute;
    top: calc((15/375)*100vmin) !important;
    left: calc((15/375)*100vmin) !important;
    padding: 0 !important;
    z-index: 30;
  }
  .hamburgerBtn a {
    position: relative;
    display: block;
    width: 28px;
    height: 24px;
    text-align: center;
    text-decoration: none;
  }
  .hamburgerBtn__borderParts {
    display: inline-block;
    position: absolute;
    background-color: #000;
    border-radius: 1px;
    width: 28px;
    height: 4px;
    margin-left: -16px;
  }
  .hamburgerBtn__borderParts:nth-child(1) {
    top: 0;
  }
  .hamburgerBtn__borderParts:nth-child(2) {
    top: 10px;
  }
  .hamburgerBtn__borderParts:nth-child(3) {
    top: 20px;
  }
  .hamburgerBtn__borderParts .acitive:nth-child(1) {
    -webkit-transform: translateY(7px) rotate(-45deg);
    transform: translateY(7px) rotate(-45deg);
  }
  .hamburgerBtn__borderParts .acitive:nth-child(2) {
    opacity: 0;
  }
  .hamburgerBtn__borderParts .acitive:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(45deg);
    transform: translateY(-7px) rotate(45deg);
  }
  .store {
    position: absolute;
    top: calc((15/375)*100vmin);
    right: calc((15/375)*100vmin);
  }
  .store_imgSize {
    width: calc((28/375)*100vmin);
    height: calc((28/375)*100vmin);
  }
}

@media screen and (min-width: 770px) {
  .container, header {
    width: 1200px;
    margin: auto;
  }
  header {
    position: relative;
    z-index: 10;
    margin: 32px auto 64px;
    display: flex;
    justify-content: flex-end;
  }
  header .logo {
    line-height: 0;
    margin-right: auto;
  }
  header .logo_imgSize {
    width: 146px;
    height: 188px;
  }
  header .snsiconBox {
    display: flex !important;
    flex-flow: nowrap;
    justify-content: center;
    margin-left: calc((46/1440)*100vmax);
  }
  header .snsiconBox li {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  header .snsiconBox li:last-child {
    margin-right: 0;
  }
  header .snsiconBox a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .store {
    position: absolute;
    top: 0;
    right: 142px;
    line-height: 1;
    border-right: 1px solid #111;
    padding-right: 40px;
  }
  .store:after {
    position: absolute;
    content: "";
    top: 0;
    right: 5px;
    border: none;
    background: linear-gradient(to bottom, #111 0%, #111 60%, transparent 60%, transparent 100%);
    background-repeat: repeat-y;
    background-size: 1px 5px;
    background-position: right 3px;
    background-position: right 4px;
    width: 1px;
    height: 23px;
  }
  .store_imgSize {
    display: block;
    width: 22px;
    height: 22px;
  }
  .store:hover {
    opacity: .8;
  }
  .item header {
    margin-bottom: calc((32/667)*100vmax);
  }
}
