@media screen and (max-width: 769px) {
  .container, #itemPage .titleBox, #itemPage .allBox, #itemPage .pickBox {
    width: calc((345/375)*100vmin);
    margin: auto;
  }
  #itemPage .underLayer {
    padding-bottom: calc((10.5/667)*100vmax);
    border-bottom: 1px solid #ccc;
    margin-bottom: calc((47.5/667)*100vmax);
  }
  #itemPage main {
    overflow: hidden;
  }
  #itemPage .titleBox {
    margin-bottom: calc((41 / 667)*100vmax);
  }
  #itemPage .itemPage__title {
    text-align: center;
  }
  #itemPage .itemPage__title_font {
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 2.6rem;
  }
  #itemPage .itemPage__title_ja {
    font-size: 1.3rem;
    font-weight: normal;
    display: block;
    text-align: center;
    line-height: 1.0rem;
    margin-top: calc((12 / 667)*100vmax);
  }
  #itemPage .allBox {
    margin-bottom: calc((32/667)*100vmin);
  }
  #itemPage .allBox__title {
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: calc((20/667)*100vmax);
    position: relative;
  }
  #itemPage .allBox__title_jp {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0 auto calc((12/375)*100vmin);
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 3.0rem;
  }
  #itemPage .allBox__item {
    margin-bottom: calc((20/667)*100vmax);
    position: relative;
    width: calc((167/375)*100vmin);
  }
  #itemPage .allBox__item.new .allBox__img {
    position: relative;
  }
  #itemPage .allBox__item.new .allBox__img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: calc((56/375)*100vmin);
    height: calc((56/375)*100vmin);
    background: url(../img/new_small.svg) no-repeat center/100% 100%;
  }
  #itemPage .allBox__item.kids .allBox__img {
    position: relative;
  }
  #itemPage .allBox__item.kids .allBox__img:after {
    position: absolute;
    content: "Kids";
    bottom: 8px;
    right: 8px;
    width: calc((48/375)*100vmin);
    height: calc((22/667)*100vmax);
    background: #fff;
    text-align: center;
    font-weight: normal;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.06);
  }
  #itemPage .allBox__list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
  #itemPage .allBox__img {
    line-height: 0;
  }
  #itemPage .allBox__img_size {
    width: calc((167/375)*100vmin);
    height: calc((167/375)*100vmin);
  }
  #itemPage .allBox__itemName {
    margin-top: calc((13/375)*100vmin);
  }
  #itemPage .allBox__itemName.allBox_font {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  #itemPage .allBox__itemPrice.allBox_font {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  #itemPage .allBox__itemSize_font {
    font-size: 1.1rem;
    line-height: 1.9rem;
    color: #777;
  }
  #itemPage .allBox__itemSize span {
    padding-right: calc((12/375)*100vmin);
    position: relative;
  }
  #itemPage .allBox__itemSize span:after {
    position: absolute;
    content: "/";
    width: calc((12/375)*100vmin);
    height: calc((24/667)*100vmax);
    text-align: center;
    right: 0;
  }
  #itemPage .allBox__itemSize span:last-child {
    padding-right: 0;
  }
  #itemPage .allBox__itemSize span:last-child:after {
    content: none;
  }
  #itemPage .allBox__btn {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.1rem;
    text-align: center;
    width: calc((197/375)*100vmin);
    padding: calc((18.5/667)*100vmin) 0;
    margin: calc((34/375)*100vmin) auto calc((52/375)*100vmin);
    border: 1px solid #111;
  }
  #itemPage .allBox__border {
    height: 1px;
    width: 100vmin;
    background: #111;
    border: none;
    margin: 0 calc((-15/375)*100vmin);
  }
  #itemPage .pickBox {
    margin-bottom: calc((41/667)*100vmax);
  }
  #itemPage .pickBox__title_jp {
    position: relative;
    margin: auto 0;
    line-height: 1;
  }
  #itemPage .pickBox__title_jp:before {
    position: absolute;
    content: "";
    top: -8px;
    height: 1px;
    width: 100%;
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  #itemPage .pickBox__list {
    display: flex;
    flex-flow: row;
    margin: 0 calc((-15/375)*100vmin) 0 calc((-120/375)*100vmin);
  }
  #itemPage .pickBox .explainBox {
    display: flex !important;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: calc((52/375)*100vmin) auto calc((28/375)*100vmin);
    padding-bottom: calc((52/375)*100vmin);
    border-bottom: 1px solid #ccc;
  }
  #itemPage .pickBox .explainBox__btn {
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    width: calc((165/375)*100vmin);
    margin-bottom: calc((40/667)*100vmax);
  }
  #itemPage .pickBox .explainBox__btn .font {
    line-height: 4.3rem;
    font-size: 1.3rem;
    position: relative;
  }
  #itemPage .pickBox .explainBox__btn.size {
    padding: 0 20px 0 14px;
  }
  #itemPage .pickBox .explainBox__btn.size .font {
    padding-left: calc((25/375)*100vmin);
  }
  #itemPage .pickBox .explainBox__btn.size .font:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background: url(../img/icon_question.svg) no-repeat center/100% 100%;
  }
  #itemPage .pickBox .explainBox__btn.size .arrow {
    position: relative;
    vertical-align: middle;
  }
  #itemPage .pickBox .explainBox__btn.size .arrow:after {
    width: 6px;
    height: 6px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
    top: -1px;
    left: 8px;
  }
  #itemPage .pickBox .explainBox__btn.pattern {
    padding: 0 28px 0 23px;
  }
  #itemPage .pickBox .explainBox__btn.pattern .font {
    padding-left: calc((21/375)*100vmin);
  }
  #itemPage .pickBox .explainBox__btn.pattern .font:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 14px;
    background: url(../img/icon_scissors.svg) no-repeat center/100% 100%;
  }
  #itemPage .pickBox .explainBox__btn .arrow {
    position: relative;
    vertical-align: middle;
  }
  #itemPage .pickBox .explainBox__btn .arrow:after {
    width: 6px;
    height: 6px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
    top: -1px;
    left: 8px;
  }
  #itemPage .pickBox .explainBox .bannerBox__item_size {
    width: 100%;
  }
  #itemPage .pickBox__item {
    margin-right: calc((11/375)*100vmin);
    position: relative;
    width: calc((140/375)*100vmin);
  }
  #itemPage .pickBox__item:hover {
    opacity: .8;
    transition-property: all;
    transition: 0.3s linear;
  }
  #itemPage .pickBox__item.new:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: calc((47/375)*100vmin);
    height: calc((47/375)*100vmin);
    background: url(../img/new_small.svg) no-repeat center/100% 100%;
  }
  #itemPage .pickBox__item.kids .pickBox__img {
    position: relative;
  }
  #itemPage .pickBox__item.kids .pickBox__img:after {
    position: absolute;
    content: "Kids";
    bottom: 8px;
    right: 8px;
    width: calc((40/375)*100vmin);
    height: calc((18/667)*100vmax);
    font-weight: normal;
  }
  #itemPage .pickBox__img {
    line-height: 0;
    margin-bottom: calc((13/375)*100vmin);
  }
  #itemPage .pickBox__img_size {
    width: calc((140/375)*100vmin);
    height: calc((140/375)*100vmin);
  }
  #itemPage .pickBox__itemName_font {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  #itemPage .pickBox__itemSize_font {
    font-size: 1.1rem;
    line-height: 1.9rem;
    color: #777;
  }
  #itemPage .pickBox__itemSize span {
    padding-right: calc((12/375)*100vmin);
    position: relative;
  }
  #itemPage .pickBox__itemSize span:after {
    position: absolute;
    content: "/";
    width: calc((12/375)*100vmin);
    height: calc((24/667)*100vmax);
    text-align: center;
    right: 0;
  }
  #itemPage .pickBox__itemSize span:last-child {
    padding-right: 0;
  }
  #itemPage .pickBox__itemSize span:last-child:after {
    content: none;
  }
}

@media screen and (min-width: 770px) {
  #itemPage .titleBox {
    width: 944px;
    margin: 0 auto 34px 256px;
  }
  #itemPage .sidebarBox {
    margin-top: 0;
  }
  #itemPage .itemPage__title_font {
    font-size: 4.0rem;
    font-weight: 900;
    line-height: 3.0rem;
  }
  #itemPage .itemPage__title_ja {
    font-size: 1.6rem;
    font-weight: normal;
    display: inline-block;
    margin-left: 26px;
  }
  #itemPage .itemPage__title_ja:before {
    content: "/ ";
  }
  #itemPage .allBox {
    margin: 0 auto 115px;
    padding-top: 64px;
  }
  #itemPage .allBox__title {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 40px;
  }
  #itemPage .allBox__title_jp {
    font-size: 1.1rem;
    font-weight: normal;
  }
  #itemPage .allBox__list {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    margin-bottom: 16px;
  }
  #itemPage .allBox__item {
    margin-bottom: 32px;
    outline: none !important;
  }
  #itemPage .allBox__item:nth-child(4n) {
    margin-right: 0;
  }
  #itemPage .allBox__item.new .allBox__img {
    position: relative;
  }
  #itemPage .allBox__item.new .allBox__img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url(../img/new_large.svg) no-repeat center/100% 100%;
  }
  #itemPage .allBox__item.kids .allBox__img {
    position: relative;
  }
  #itemPage .allBox__item.kids .allBox__img:after {
    position: absolute;
    content: "Kids";
    bottom: 8px;
    right: 8px;
    width: 48px;
    height: 22px;
    background: #fff;
    line-height: 22px;
    text-align: center;
    font-weight: normal;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.06);
  }
  #itemPage .allBox__itemSize_font {
    font-size: 1.1rem;
    line-height: 2.4rem;
    color: #777;
  }
  #itemPage .allBox__itemSize span {
    padding-right: 12px;
    position: relative;
  }
  #itemPage .allBox__itemSize span:after {
    position: absolute;
    content: "/";
    width: 12px;
    height: 24px;
    text-align: center;
    right: 0;
  }
  #itemPage .allBox__itemSize span:last-child {
    padding-right: 0;
  }
  #itemPage .allBox__itemSize span:last-child:after {
    content: none;
  }
  #itemPage .allBox__img {
    line-height: 0;
    margin-bottom: 17px;
  }
  #itemPage .allBox__img_size {
    width: 212px;
    height: 212px;
  }
  #itemPage .allBox__itemName_font {
    font-size: 1.2rem;
    line-height: 2.0rem;
  }
  #itemPage .allBox__btn {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 52px;
    text-align: center;
    width: 186px;
    margin: 0 auto;
    border: 1px solid #111;
  }
  #itemPage .allBox__btn:hover {
    background-color: #111;
    color: #fff;
    transition-property: all;
    transition: 0.3s linear;
  }
  #itemPage .pickBox {
    width: 800px;
    padding-top: 56px;
    border-top: 1px solid #111;
  }
  #itemPage .pickBox__title {
    text-align: center;
  }
  #itemPage .pickBox__title_jp {
    text-align: center;
    margin-left: 0;
    position: relative;
  }
  #itemPage .pickBox__title_jp:before {
    position: absolute;
    content: "";
    top: -7px;
    height: 1px;
    width: 100%;
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px top;
  }
  #itemPage .pickBox__item {
    width: 132px;
  }
  #itemPage .pickBox__img_size {
    width: 132px;
  }
  #itemPage .pickBox a {
    outline: none !important;
  }
}
