@media screen and (max-width: 769px) {
  .borderBox, .facebookBox, .instagramBox, .twitterBox {
    border: 1px solid #ccc;
  }
  .snsWrapper, .facebookBox, .instagramBox, .twitterBox {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 112px;
  }
  .snsBox {
    margin: 0 auto calc((40/667)*100vmax);
    width: calc((285/375)*100vmin);
  }
  .instagramViewBox {
    padding-bottom: calc((41/667)*100vmax);
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
    margin-bottom: calc((40/667)*100vmax);
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .instagramViewBox__title {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: calc((12/667)*100vmax);
    position: relative;
    padding: 0 0 calc((10/667)*100vmax) calc((37/375)*100vmin);
  }
  .instagramViewBox__title:before {
    position: absolute;
    content: "";
    left: 0;
    top: 8px;
    margin: auto;
    width: calc((26/375)*100vmin);
    height: calc((26/667)*100vmax);
    background: url(../img/icon_instagram.svg) no-repeat center/100% 100%;
  }
  .instagramViewBox__title:after {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 1px;
  }
  .instagramViewBox__desc {
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: center;
    margin-bottom: calc((40/667)*100vmax);
  }
  .instagramViewBox__img {
    margin-bottom: calc((20/667)*100vmax);
  }
  .instagramViewBox__img:last-child {
    margin-bottom: 0;
  }
  .instagramViewBox__img_size {
    width: 100%;
    display: block;
  }
  .facebookBox {
    background: url(../img/bg_link_facebook.jpg) no-repeat center/100% 100%;
    margin-bottom: calc((20/667)*100vmax);
    position: relative;
  }
  .facebookBox a {
    padding-top: calc((67/667)*100vmax);
  }
  .facebookBox__title {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.1rem;
    text-align: center;
    padding-bottom: calc((23.5/667)*100vmax);
  }
  .facebookBox__title:before {
    position: absolute;
    content: "";
    top: calc((24.5/667)*100vmax);
    left: 0;
    right: 0;
    margin: auto;
    width: calc((33/375)*100vmin);
    height: calc((33/667)*100vmax);
    background: url(../img/icon_facebook.svg) no-repeat center;
  }
  .instagramBox {
    background: url(../img/bg_link_instagram.jpg) no-repeat center/100% 100%;
    margin-bottom: calc((20/667)*100vmax);
    position: relative;
  }
  .instagramBox a {
    padding-top: calc((46/667)*100vmax);
  }
  .instagramBox__title {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.1rem;
    text-align: center;
    margin-bottom: calc((14/667)*100vmax);
  }
  .instagramBox__title:before {
    position: absolute;
    content: "";
    top: calc((10/667)*100vmax);
    left: 0;
    right: 0;
    margin: auto;
    width: calc((33/375)*100vmin);
    height: calc((33/667)*100vmax);
    background: url(../img/icon_instagram.svg) no-repeat center;
  }
  .instagramBox__id {
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.0rem;
    background: #fff;
    font-style: italic;
  }
  .twitterBox {
    background: url(../img/bg_link_twitter.jpg) no-repeat center/100% 100%;
    position: relative;
  }
  .twitterBox a {
    padding-top: calc((50/667)*100vmax);
  }
  .twitterBox__title {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.9rem;
    text-align: center;
    margin-bottom: calc((11.5/667)*100vmax);
  }
  .twitterBox__title:before {
    position: absolute;
    content: "";
    top: calc((12/667)*100vmax);
    left: 0;
    right: 0;
    margin: auto;
    width: calc((33/375)*100vmin);
    height: calc((33/667)*100vmax);
    background: url(../img/icon_twitter.svg) no-repeat center;
  }
  .twitterBox__id {
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.0rem;
    background: #fff;
    font-style: italic;
  }
}

@media screen and (min-width: 770px) {
  .hoverAction__main {
    opacity: .7;
    transition-property: all;
    transition: 0.25s linear;
  }
  .whiteCover, .instagramViewBox__img a:after, .facebookBox__btn:after, .instagramBox__btn:after, .twitterBox__btn:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.45);
    transition-property: all;
    transition: 0.25s linear;
    opacity: 0;
  }
  .borderBoxPc, .facebookBox, .instagramBox, .twitterBox {
    border: 1px solid #ccc;
  }
  .snsWrapperPc, .facebookBox__btn, .instagramBox__btn, .twitterBox__btn {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    box-sizing: content-box;
    height: 86px;
  }
  .snsBox {
    margin: auto;
    width: 224px;
  }
  .snsBox a:hover {
    opacity: 1 !important;
  }
  .instagramViewBox {
    margin-bottom: 64px;
    padding: 24px 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: center;
  }
  .instagramViewBox__title {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 36px;
    position: relative;
    padding: 0 0 6px 36px;
    margin: 0 auto 16px;
    display: inline-block;
  }
  .instagramViewBox__title:before {
    position: absolute;
    content: "";
    left: 0;
    top: 4px;
    margin: auto;
    width: 28px;
    height: 28px;
    background: url(../img/icon_instagram.svg) no-repeat center/100% 100%;
  }
  .instagramViewBox__title:after {
    border: none;
    background: linear-gradient(to left, #111 0%, #111 66.66667%, transparent 66.66667%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: 4px bottom;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 136px;
    height: 1px;
  }
  .instagramViewBox__desc {
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: -0.2px;
    text-align: center;
    margin-bottom: 22px;
  }
  .instagramViewBox__img {
    margin-bottom: 16px;
    position: relative;
    width: 100%;
  }
  .instagramViewBox__img a:hover:after {
    opacity: 1;
  }
  .instagramViewBox__img:last-child {
    margin-bottom: 0;
  }
  .instagramViewBox__img_size {
    width: 100%;
    display: block;
  }
  .facebookBox {
    background: url(../img/bg_link_facebook.jpg) no-repeat center/100% 100%;
    margin-bottom: 24px;
  }
  .facebookBox__btn {
    position: relative;
  }
  .facebookBox__btn:hover:after {
    opacity: 1;
  }
  .facebookBox__title {
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    position: relative;
    padding-bottom: 17px;
  }
  .facebookBox__title:before {
    position: absolute;
    content: "";
    top: -30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 27px;
    height: 27px;
    background: url(../img/icon_facebook.svg) no-repeat center;
  }
  .instagramBox {
    background: url(../img/bg_link_instagram.jpg) no-repeat center/100% 100%;
    margin-bottom: 24px;
  }
  .instagramBox__btn {
    position: relative;
  }
  .instagramBox__btn:hover:after {
    opacity: 1;
  }
  .instagramBox__title {
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    position: relative;
    margin-bottom: 4px;
  }
  .instagramBox__title:before {
    position: absolute;
    content: "";
    top: -30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 27px;
    height: 27px;
    background: url(../img/icon_instagram.svg) no-repeat center;
  }
  .instagramBox__id {
    text-align: center;
    font-size: 1.2rem;
    line-height: 23px;
    background: #fff;
    font-style: italic;
  }
  .twitterBox {
    background: url(../img/bg_link_twitter.jpg) no-repeat center/100% 100%;
    margin-bottom: 40px;
  }
  .twitterBox__btn {
    position: relative;
  }
  .twitterBox__btn:hover:after {
    opacity: 1;
  }
  .twitterBox__title {
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    position: relative;
    margin-bottom: 4px;
  }
  .twitterBox__title:before {
    position: absolute;
    content: "";
    top: -30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 27px;
    height: 27px;
    background: url(../img/icon_twitter.svg) no-repeat center;
  }
  .twitterBox__id {
    text-align: center;
    font-size: 1.2rem;
    line-height: 23px;
    background: #fff;
    font-style: italic;
  }
}
