@media screen and (max-width: 769px) {
  .container, .typeListBox {
    width: calc((345/375)*100vmin);
    margin: auto;
  }
  .typeListBox {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: calc((40/667)*100vmax);
  }
  .typeListBox li:nth-child(-n+2) {
    margin-bottom: calc((11/667)*100vmax);
  }
  .typeListBox__btn {
    width: calc((167 / 375)*100vmin);
    height: auto;
    box-sizing: border-box;
  }
  .typeListBox__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 2.1rem;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
  }
  .typeListBox__title_font {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 9.2rem;
    margin: 3px;
    border: 1px solid #fff;
    width: calc((159/375)*100vmin);
  }
  .typeListBox__title_border {
    position: relative;
    display: block;
  }
  .typeListBox__title img {
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 770px) {
  .mainWrapper, .typeListBox {
    margin: 0 auto 80px;
  }
  .typeListBox {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .typeListBox__btn {
    width: 224px;
    height: 90px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
  .typeListBox__btn:hover img {
    transition: all 0.3s cubic-bezier(0.57, 0.99, 0.72, 1.01);
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transform: scale(1.04);
  }
  .typeListBox__title {
    text-align: center;
    font-size: 2.0rem;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
    position: relative;
  }
  .typeListBox__title_font {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px;
    border: 1px solid #fff;
    width: 94%;
    line-height: 8.4rem;
  }
  .typeListBox__title_border {
    width: 100%;
    height: 100%;
    display: block;
  }
  .typeListBox__title img {
    width: 100%;
  }
}
