@media screen and (max-width: 769px) {
  .top {
    position: relative;
    margin-top: calc((-34/667)*100vmax);
  }
  .viewBox {
    width: 100vmin;
    overflow: hidden;
    position: relative;
    margin: auto;
  }
  .viewBox a:hover {
    opacity: 1;
  }
  .viewBox__list li {
    position: relative;
  }
  .viewBox__item {
    background: none !important;
  }
  .viewBox__title {
    width: calc((301/ 375)*100vmin);
    position: absolute;
    bottom: 0;
    margin: 0 calc((15/ 375)*100vmin) calc((47/667)*100vmax);
    padding: calc((15 /667)*100vmax) calc((22 /375)*100vmin) calc((15 /667)*100vmax);
    background: rgba(255, 255, 255, 0.89);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .viewBox__title_fontSize {
    text-align: center;
    line-height: 2.8rem;
    font-size: 2.0rem;
    font-weight: bold;
  }
  .viewBox__itemName {
    line-height: 1.3;
    font-size: 1.5rem;
    font-weight: normal;
    display: inline-block;
    margin-top: calc((6 /667)*100vmax);
  }
}

@media screen and (min-width: 770px) {
  .hoverAction__main {
    opacity: .7;
    transition-property: all;
    transition: 0.25s linear;
  }
  .whiteCover, .viewBox__item a:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.45);
    transition-property: all;
    transition: 0.25s linear;
    opacity: 0;
  }
  .top {
    position: relative;
    top: -136px;
    margin-bottom: -136px;
  }
  .viewBox {
    margin-bottom: 72px;
    width: 100%;
    min-height: 515px;
  }
  .viewBox__item {
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  .viewBox__item .blur_elements {
    position: relative;
    z-index: -1;
    height: 515px;
  }
  .viewBox__item a {
    opacity: 1;
  }
  .viewBox__item a:hover:after {
    opacity: 1;
  }
  .viewBox__title {
    position: absolute;
    max-width: 60%;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 36px calc((80/1440)*100vw) 36px calc((76/1440)*100vw);
    margin-bottom: 56px;
    background: #fff;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.05);
  }
  .viewBox__title_fontSize {
    font-size: 2.6rem;
    line-height: 3.6rem;
    font-weight: bold;
  }
  .viewBox__itemName {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin-top: 12px;
  }
}
